@use 'sass:math';

.banner-interstitial {
  --secondary-blue: var(--phosphor-gray);

  &__inner {
    border: solid 2px var(--phosphor-green);
  }

  &__eyebrow,
  &__title,
  &__copy {
    color: var(--phosphor-green);
  }
}
