// Globals
@import 'globals/colors';
@import 'globals/vars';
@import 'globals/functions';
@import 'globals/mixins';
@import 'globals/extends';

// Overrides
._discover {
  .header {
    padding: 0.75rem 1.25rem;

    &__home {
      grid-column: 1 / span 2;
    }
  }
}

// Discover Home
._discover-home {
  margin-bottom: 3rem;
  // padding: 1rem 1.5rem;

  &--grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    list-style: none;
  }

  &--section {
    margin-inline: auto;
    max-width: 1025px;
    padding-inline: 1rem;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }

    &-title {
      margin-bottom: 1.5rem;
    }
  }
}

._dheader {
  $mq: 620px;
  background-color: var(--blue-600);
  color: var(--white);
  margin-bottom: 1.5rem;

  // height: 30vh;
  overflow: hidden;
  position: relative;

  &--inner {
    display: grid;
    height: 100%;
    margin: 0 auto;
    max-width: 1025px;
    min-height: 30vh;
    padding: 1.5rem;
    position: relative;
  }

  &--text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 60%;
    z-index: 1;
  }

  h1 {
    color: var(--white);
  }

  &--img {
    object-fit: cover;
    right: 0;
    // position: absolute;
    top: 0;
    z-index: 0;

    @media (min-width: #{$mq}) {
      position: absolute;
    }
  }

  &--shapes {
    @media (min-width: #{$mq}) {
      height: 150%;
      right: -5%;
      width: 50%;
    }
  }

  &--bkg {
    @media (min-width: #{$mq}) {
      height: 125%;
      right: -10%;
      width: 60%;
    }
  }
}

.medium {
  font-weight: 500;
  text-shadow: none;
}

// Cards
.dcard {
  border: 1px solid var(--grey-300);
  border-radius: 0.75rem;
  color: inherit;
  display: block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;

  &:focus,
  &:hover {
    @include elevation(1);
  }

  article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &--title {
    font-size: 1.25rem;
  }

  &--inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
  }
}

// Tags
.dtags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85em;
  gap: 0.5rem;
  list-style: none;

  .dcard & {
    margin-top: auto;
  }

  li {
    background-color: var(--grey-150);
    border-radius: 0.5rem;
    padding: 0.5em 1em;
  }
}

// Article
._discover-article {
  $big: calc(80ch + 300px + 11rem);
  $image: calc(50vh - 4rem);

  .type {
    h2,
    h3 {
      font-weight: 500;
    }
  }

  header {
    border-bottom: 1px solid var(--grey-300);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    @container (min-width: calc(80ch + 2px)) {
      margin-bottom: 3rem;
      padding-bottom: 3rem;
    }

    @container (min-width: #{$big}) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .dtags {
    margin-top: 0.25rem;
  }

  &--image {
    display: block;
    height: $image;
    left: 0;

    margin: 0 auto;
    object-fit: cover;
    position: fixed;
    top: 4rem;
    width: 100%;
    z-index: -1;
  }

  &--contained {
    container-type: inline-size;
    margin-top: $image;
    width: 100%;
  }

  &--container {
    background-color: var(--white);
    display: block;
    margin: 0 auto;
    max-width: 80ch;
    padding: 1rem 1.5rem;
    padding-top: 2rem;
    position: relative;
    z-index: 3;

    @container (min-width: calc(80ch + 2px)) {
      border-radius: 1rem 1rem 0 0;
      margin-top: -3rem;
      padding: 3rem;
    }

    @container (min-width: #{$big}) {
      display: grid;
      grid-column-gap: 7rem;
      grid-template-columns: calc(80ch - 6rem) 300px;
      grid-template-rows: auto 1fr;
      margin-inline: 3rem;
    }

    &::before {
      background-image: linear-gradient(to bottom, transparent 3rem, var(--white) #{$image});
      content: '';
      height: 100%;
      left: -25vw;
      position: absolute;
      width: 150vw;
      z-index: -1;
    }
  }

  &--published {
    color: var(--grey-700);
    font-size: 0.85rem;
  }

  &--toc {
    border: 1px solid var(--red-300);
    @container (min-width: #{$big}) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &--content {
    @container (min-width: #{$big}) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}

// Featured Content
.featured {
  color: var(--grey-800);
  padding-block-end: 1em;
}
