// Globals
@import 'globals/colors';
@import 'globals/vars';
@import 'globals/functions';
@import 'globals/mixins';
@import 'globals/extends';

$big: calc(51rem + 300px + 10rem);

// Overrides
._discover {
  .header {
    padding: 0.75rem 1.25rem;

    &__home {
      grid-column: 1 / span 2;
    }
  }
}

// Discover Home
._discover-home {
  margin-bottom: 3rem;
  // padding: 1rem 1.5rem;

  &--grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    list-style: none;
  }

  &--section {
    margin-inline: auto;
    max-width: $big;
    padding-inline: 1rem;

    &:not(:first-of-type) {
      margin-top: 3rem;
    }

    &-title {
      margin-bottom: 1.5rem;
    }
  }
}

._dheader {
  $mq: 570px;
  background-color: var(--blue-600);
  color: var(--white);
  margin-bottom: 1.5rem;
  min-height: 25vh;

  // height: 30vh;
  overflow: hidden;
  position: relative;

  &--inner {
    display: grid;
    height: 100%;
    margin: 0 auto;
    max-width: $big;
    min-height: 30vh;
    padding: 1.5rem;
    position: relative;
  }

  &--text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 3rem;
    position: relative;
    width: 100%;
    z-index: 1;

    @media (min-width: 440px) {
      padding-bottom: 0;
      width: 60%;
    }
  }

  h1 {
    color: var(--white);
  }

  &--img {
    object-fit: cover;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    @media (min-width: #{$mq}) {
      position: absolute;
    }
  }

  &--shapes {
    height: 150%;
    right: -35%;
    top: 20%;
    width: 60%;

    @media (min-width: 440px) {
      right: -5%;
      top: 0;
    }
  }

  &--bkg {
    display: none;

    @media (min-width: #{$mq}) {
      display: block;
      height: 125%;
      right: -10%;
      width: 60%;
    }
  }
}

.medium {
  font-weight: 500;
  text-shadow: none;
}

// Cards
.dcard {
  border: 1px solid var(--grey-300);
  border-radius: 0.75rem;
  color: inherit;
  display: block;
  height: 100%;
  overflow: hidden;
  text-decoration: none;

  &:focus,
  &:hover {
    @include elevation(1);
  }

  article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &--title {
    font-size: 1.25rem;
  }

  &--inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    padding: 1rem;
  }
}

// Tags
.dtags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85em;
  gap: 0.5rem;
  list-style: none;

  .dcard & {
    margin-top: auto;
  }

  li {
    background-color: var(--grey-150);
    border-radius: 0.5rem;
    padding: 0.5em 1em;
  }
}

// Article
._discover-article {
  $image: calc(50vh - 4rem);
  container-type: inline-size;

  &--title,
  &--subtitle {
    color: var(--white);
  }

  &--icon {
    display: inline-block;
    height: 1.3em;
    transform: translateY(0.3em);
    width: 1.3em;
  }

  &--title:has(&--icon) {
    position: relative;
    // display: flex;
    // gap: 0.5rem;
    // align-items: center;
  }

  header {
    align-self: center;
    background-color: var(--blue-600);
    border-bottom: 1px solid var(--grey-300);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin-inline: auto;
    max-width: 55rem;
    min-height: 25vh;
    padding: 3rem 1.5rem;
    padding-bottom: 6rem;
    position: relative;

    @container (min-width: #{$big}) {
      max-width: $big;
    }

    &::before {
      background: var(--blue-600);
      content: '';
      display: block;
      height: 100%;
      left: -50%;
      position: absolute;
      top: 0;
      width: 200vw;
      z-index: -1;
    }

    // @container (min-width: calc(80ch + 2px)) {
    //   margin-bottom: 3rem;
    //   padding-bottom: 3rem;
    // }

    // @container (min-width: #{$big}) {
    //   grid-column: 1 / span 1;
    //   grid-row: 1 / span 1;
    // }
  }

  &--header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .dtags {
    font-size: 0.8rem;
    margin-top: 0.5rem;

    li {
      background-color: var(--blue-800);
      color: var(--white);
    }
  }

  &--image-container {
    aspect-ratio: 16 / 9;
    margin-block-start: -3rem;
    margin-inline: auto;
    max-width: 55rem;
    padding-inline: 1.5rem;
    position: relative;
    z-index: 1;

    @container (min-width: #{$big}) {
      max-width: $big;
    }
  }

  &--image {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;

    // margin: 0 auto;
    // object-fit: cover;
    // position: fixed;
    // top: 4rem;
    // width: 100%;
    // z-index: -1;
  }

  &--container {
    background-color: var(--white);
    display: block;
    margin: 0 auto;
    max-width: 80ch;
    padding: 1rem 1.5rem;
    padding-top: 2rem;
    position: relative;
    z-index: 3;

    // @container (min-width: calc(80ch + 2px)) {
    //   border-radius: 1rem 1rem 0 0;
    //   margin-top: -3rem;
    //   padding: 3rem;
    // }

    @container (min-width: #{$big}) {
      display: grid;
      grid-column-gap: 7rem;
      grid-template-columns: 51rem 300px;
      grid-template-rows: auto 1fr;
      margin-inline: calc((100vw - #{$big}) / 2);
    }

    &::before {
      background-image: linear-gradient(to bottom, transparent 3rem, var(--white) #{$image});
      content: '';
      height: 100%;
      left: -25vw;
      position: absolute;
      width: 150vw;
      z-index: -1;
    }
  }

  h2 {
    margin-top: -4rem !important; /* stylelint-disable-line declaration-no-important */
    padding-top: 5rem !important; /* stylelint-disable-line declaration-no-important */
  }

  .appcard + h2 {
    margin-top: -3rem !important; /* stylelint-disable-line declaration-no-important */
  }

  .type {
    h2,
    h3 {
      font-weight: 500;
    }
  }

  // &--published {
  //   color: var(--grey-700);
  // font-size: 0.85rem;
  // }

  &--toc {
    margin-bottom: 2rem;
    overflow-y: auto;

    @container (min-width: #{$big}) {
      border-left: 1px solid var(--grey-300);
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      height: min-content;
      margin-bottom: 0;
      max-height: calc(100vh - 6.5rem);
      padding-inline-start: 1rem;
      position: sticky;
      top: 5rem;
    }

    ul {
      list-style: none;
    }

    h4 {
      color: var(--grey-900);
      font-size: 0.75rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
    }
  }

  &--content {
    container-name: content;
    container-type: inline-size;

    @container (min-width: #{$big}) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}

// Featured Content
.featured {
  color: var(--grey-800);
  padding-block-end: 1em;
}

// App Cards
.appcard {
  align-items: center;
  border: 2px solid var(--grey-300);
  border-radius: 0.5rem;
  display: grid;
  // display: flex;
  gap: 0.5rem;
  grid-template-columns: 3rem 1fr;
  padding: 0.75rem;

  @container content (min-width: 370px) {
    display: flex;
  }

  &--icon {
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
  }

  &--body {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  &--desc {
    color: var(--grey-800);
    font-size: 0.85rem;
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  &--dl {
    align-self: flex-end;
    background-color: var(--blue-600);
    border-radius: 5px;
    color: var(--white);
    grid-column: 1 / span 2;
    margin-left: auto;
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: var(--blue-900);
    }

    &:active {
      background-color: var(--blue-200);
      color: var(--blue-900);
    }
  }
}

// App list
.applist {
  align-items: center;
  display: grid;
  // flex-direction: column;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));

  @container (min-width: #{$big}) {
    flex-direction: column;
  }

  a {
    align-items: center;
    color: var(--black);
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  img {
    height: 2rem;
    width: 2rem;
  }
}
