<!--{#
  Renders a call out component.

    @param {object[]} content: List of objects containing the following attributes.
    @param {string} content.title: Content title.
    @param {string} content.body (optional): Content body copy.

    @param {object[]} cta: Object the cta information.
    @param {string} cta.text: Cta text.
    @param {string} cta.url: Cta url.
 #}-->
{% macro callOut(content, cta) -%}
<aside class="call-out">
  <h2 class="call-out__heading type--h2">{{content.title}}</h2>
  {% if content.body %}
  <p class="call-out__body type">{{content.body}}</p>
  {% endif %}
  <a class="cta cta--high" href="{{cta.url}}">{{cta.text}}</a>
</aside>
{%- endmacro %}
