<!--{#
  Renders a text next to a related image.

  @param {object} content - Object containing the following attributes.
  @param {string} content.title - Title of the content.
  @param {string} content.copy - Summary about the content.
  @param {object} image - Contains the image arguments.
  @param {string} image.alt - Image description.
  @param {string} image.src - Image's source.
  @param {object} cta - Contains the cta arguments.
  @param {string} cta.url - Url for the cta.
  @param {string} cta.text - Cta message.
 #}-->
{% macro heroCta(content, image, cta) %}
<article class="hero--cta">
  <div class="hero--cta__wrapper">
    <h2 class="type--h1">{{content.title}}</h2>
    <p class="type--base">{{content.copy}}</p>
    <a class="cta cta--link" href="{{cta.url}}">{{cta.text}}</a>
  </div>
  <img class="hero--cta__image" src="{{image.src}}" alt="{{image.alt}}" />
</article>
{% endmacro %}
