<!--{#
  Creates secondary (sub) nav

  @param {object[]} collection - Collection to use for the subnav
  @param {string} collection[].url - URL of the collection item
  @param {string} collection[].data.title - Title of the collection item
  @param {string} title - Title of the subnav
  @param {string} current - Current page URL
  @param {object[]} resources - Array of resources. See resources macro for full definition
  @param {string} resourcesTitle - Title of the resources section. See resources macro for full definition.
#}-->
{% from 'icon.njk' import icon %} {% from 'resources.njk' import resources as resourcesMacro %} {% macro subnav(collection, title, current, resources, resourcesTitle) %}
<details class="subnav" open>
  <summary class="type--h5 subnav__summary">
    <span class="subnav__title">{{title}}</span>
    {{icon('expand-more', 'subnav--expand')}}
  </summary>
  <nav class="subnav__nav">
    <ul>
      {% for post in collection %}
      <li class="subnav__item">
        {% if current == post.url %}
        <a class="type--secondary-nav subnav__link" data-active="true" href="{{post.url}}">{{post.data.title}}</a>
        {% else %}
        <a class="type--secondary-nav subnav__link" href="{{post.url}}">{{post.data.title}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  {{ resourcesMacro(resources, resourcesTitle) }}
</details>
{% endmacro %}
