// Styles for the article layout.

.article {
  $default-eyebrow-color: map-get($google-colors, 'blue-600');
  $block-padding: 1.25rem;
  --col-padding: 2.5rem;

  display: grid;

  @include mq($bkpt-articles--2-cols) {
    grid-template-columns: 1fr 2fr;
  }

  @include mq($bkpt-articles--3-cols) {
    --col-padding: #{pxRem(60px)};

    grid-template-columns:
      1fr minmax(min-content, pxRem(300px)) minmax(50ch, 90ch)
      minmax(min-content, pxRem(300px)) 1fr;
  }

  &__hero {
    @include mq($bkpt-articles--2-cols) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }

    @include mq($bkpt-articles--3-cols) {
      grid-column: 1 / span 5;
      grid-row: 1 / span 2;
    }

    &:empty {
      background-color: var(--blue-600);
    }
  }

  &__toc {
    margin-bottom: pxRem(48px);
    padding-top: var(--col-padding);
    position: relative;

    @include mq($bkpt-articles--2-cols) {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
    }

    @include mq($bkpt-articles--3-cols) {
      grid-column: 4 / span 1;
      grid-row: 3 / span 2;
      margin-bottom: 0;
      padding-top: var(--col-padding);
    }
  }

  &__section {
    @include mq($bkpt-articles--3-cols) {
      padding-left: $block-padding;
    }
  }

  &__body {
    @include mq($bkpt-articles--2-cols) {
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
    }

    @include mq($bkpt-articles--3-cols) {
      grid-column: 2 / span 2;
      grid-row: 4 / span 1;
      padding-top: var(--col-padding);
    }
  }

  &__content:not(:last-child) {
    margin-bottom: pxRem(40px);
  }

  &__recommended {
    grid-column: 1 / -1;
  }
}
