// Styles for the article layout.

.article {
  $self: &;
  $default-eyebrow-color: map-get($google-colors, 'blue-600');
  $block-padding: 1.25rem;
  --col-padding: 2.5rem;

  display: grid;

  @include mq($bkpt-articles--2-cols) {
    grid-template-columns: calc((100vw - min(100%, 100rem)) / 2) minmax(45ch, 90ch) minmax(min-content, 18.75rem) 1fr;
  }

  &__hero {
    grid-column: 1 / -1;

    &:empty {
      background-color: var(--blue-600);
    }
  }

  &__hero-image-wrapper {
    margin-top: clamp(-3rem, 10vw, -10rem);

    @include mq($bkpt-articles--2-cols) {
      grid-column: 2 / span 2;
      grid-row: 2 / span 1;
    }
  }

  &__hero-image {
    border-radius: 0.3125rem;
    filter: drop-shadow(0 2px 50px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    width: 100%;
  }

  &__video {
    aspect-ratio: 16 / 9;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;

    &-link {
      text-decoration: none;
    }

    &--embed {
      height: 100%;
      width: 100%;
    }

    &--play {
      background-color: var(--primary-blue);
      border-radius: 50%;
      bottom: 1.5rem;
      height: 4.5rem;
      position: absolute;
      right: 1.5rem;
      width: 4.5rem;
    }
  }

  &__body {
    padding-top: var(--col-padding);
    @include mq($bkpt-articles--2-cols) {
      grid-column: 2 / span 1;
      grid-row: 2;

      #{$self}__hero-image-wrapper ~ & {
        grid-row: 3;
      }
    }
  }

  &__toc {
    padding-top: var(--col-padding);
    position: relative;

    @include mq($bkpt-articles--2-cols) {
      grid-column: 3 / span 1;
      grid-row: 2;

      #{$self}__hero-image-wrapper ~ & {
        grid-row: 3;
      }
    }
  }
}
