// Styles for tech detail page
@use 'sass:math';

.tech-detail {
  $root: &;
  $spacing: clamp(3.75rem, 7.8125vw, 5rem);
  $inline-padding: 1.5rem;
  $block-padding: 2.5rem;
  $yellow-bg: var(--secondary-yellow);
  $blue-bg: var(--primary-blue);
  $green-bg: var(--primary-green);

  // TODO check breakpoints, spacing distribution when sample content is loaded.
  // Validate with design.
  $topics-and-resources-width: 300px;
  $content-width: minmax(50ch, 80ch);
  $versions-toc-width: minmax(235px, 320px);

  display: grid;

  @include mq($bkpt-tech-details--2-cols) {
    grid-template-columns: $topics-and-resources-width 1fr $content-width 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  @include mq($bkpt-tech-details--3-cols) {
    grid-template-columns: $topics-and-resources-width 1fr $content-width $versions-toc-width 1fr;
  }

  &--landing {
    border-bottom: 1px solid var(--grey-300);

    @include mq($bkpt-tech-details--landing) {
      grid-template-columns:
        $topics-and-resources-width minmax($spacing, 1fr) minmax(auto, 90ch)
        minmax($spacing, 1fr);
      grid-template-rows: auto 4rem auto 1fr auto;
    }
  }

  &__hero {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    overflow: hidden;
    position: relative;

    @include mq($bkpt-tech-details--2-cols) {
      grid-column: 2 / -1;
      grid-row: 1 / span 2;
    }

    &-title {
      color: var(--white);
      padding: $block-padding clamp(1.5rem, 4vw, 7.5rem);
      position: relative;
      z-index: 1;

      @include mq($bkpt-tech-details--2-cols) {
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 15ch;
      }
    }

    &-image {
      display: flex;
      justify-content: flex-end;
      padding-left: 2rem;

      @include mq($bkpt-tech-details--2-cols) {
        height: 100%;
        padding-left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
      }

      @include mq($bkpt-tech-details--3-cols) {
        max-height: 40vh;
      }

      &--background-pattern {
        height: 100%;
        object-fit: cover;
      }
    }

    &:empty {
      background: $blue-bg;
    }
  }

  &__get-started {
    background-color: var(--grey-50);
    border-radius: 0.625rem;
    margin: $spacing auto;
    padding: clamp(3.5rem, 5vw, 4.5rem) clamp(1.5rem, 5vw, 4.5rem);
    text-align: center;
    width: 100%;

    &--desc {
      margin-top: 1rem;
    }

    &--grid {
      display: grid;
      gap: 1.25rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      margin-top: clamp(2.5rem, 5vw, 3rem);
    }

    &--grid-item {
      background-color: var(--white);
      border: 1px solid var(--grey-300);
      border-radius: 0.625rem;
      display: flex;
      flex-flow: column;
      height: 100%;
      padding: 2.5rem;
      position: relative;
      text-align: left;
      width: 100%;
      z-index: 1;

      p {
        color: var(--grey-700);
      }
    }

    &--heading {
      margin-bottom: 1rem;
    }
  }

  &__interest-form {
    background-color: var(--grey-50);
    border-radius: 0.625rem;
    margin: $spacing auto;
    max-width: 60ch;
    padding: 2rem 2rem 2.5rem;

    p {
      color: var(--grey-700);
    }
  }

  &__chapters {
    border-top: 1px solid var(--grey-300);
    margin-bottom: $spacing;
    margin-top: $spacing;
    padding-top: $spacing;
  }

  &__content {
    padding: 0 $inline-padding $block-padding;

    @include mq($bkpt-tech-details--2-cols) {
      grid-column: 3 / span 1;

      #{$root}--landing & {
        padding-left: $spacing;
        padding-right: $spacing;
      }
    }

    &--landing {
      padding: 3.5rem $inline-padding $block-padding;
    }
  }

  &__eyebrow-wrapper {
    background-color: var(--white);
    border-top: 0.5rem solid var(--blue-600);
    padding-left: $inline-padding;
    padding-right: $block-padding;
    padding-top: 2rem;

    @include mq($bkpt-tech-details--2-cols) {
      padding-left: $spacing;
      padding-right: $spacing;
    }
  }

  &__header {
    margin-bottom: math.div($block-padding, 2);
    margin-top: -5rem;
    padding: 0 $inline-padding;
    padding-top: math.div($block-padding, 2) + 5rem;

    @include mq($bkpt-tech-details--2-cols) {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      padding-top: $block-padding + 5rem;

      #{$root}--landing & {
        grid-row: 3 / span 1;
      }
    }

    @include mq($bkpt-tech-details--landing) {
      #{$root}--landing & {
        grid-row: 2 / span 2;
      }
    }

    #{$root}--landing & {
      grid-row: 3 / span 1;
      padding: 0;
      padding-top: math.div($block-padding, 2) + 3rem;
    }
  }

  &__topics-and-resources {
    grid-row: 1 / span 1;
    position: relative;

    @include mq($bkpt-tech-details--2-cols) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 3;

      #{$root}--landing & {
        grid-row: 1 / span 4;
      }

      > .subnav {
        margin-bottom: -1px;
        max-height: calc(100vh - 4rem - 1px);
        overflow-y: auto;
        padding-bottom: 0;
        padding-top: $block-padding;
        position: sticky;
        top: 4rem;

        > .resources {
          padding-bottom: $block-padding;
        }
      }
    }
  }

  &__versions-and-toc {
    margin-bottom: $block-padding;
    padding: 0 $inline-padding;
    position: relative;

    @include mq($bkpt-tech-details--2-cols) {
      grid-column: 3 / span 1;
    }

    @include mq($bkpt-tech-details--3-cols) {
      grid-column: 4 / span 1;
      grid-row: 1 / span 3;
      margin-bottom: 0;
      margin-top: $block-padding;
    }

    &:empty {
      padding: 0;
    }
  }

  // TODO: Build nav filter for section
  &.productivity,
  &.android-environment,
  &.linux,
  &.web-environment {
    #{$root}__hero {
      background-color: $yellow-bg;
    }
  }

  &.education,
  &.android,
  &.games,
  &.web {
    #{$root}__hero {
      background-color: $blue-bg;
    }
  }

  &.publish {
    #{$root}__hero {
      background-color: $green-bg;
    }
  }
}
