<!--{#
  Renders a full-width banner that transitions to a contained banner.

  @param {object} content: An object containing the following attributes.
  @param {string} content.eyebrow
  @param {string} content.title
  @param {string} content.copy

  @param {object} image
  @param {string} image.src
  @param {string} image.alt

  @param {object} cta (optional): An object containing the following attributes.
  @param {string} cta.text
  @param {string} cta.url

  @param {string} locale - Code for the current locale.
#}-->
{% from 'icon.njk' import icon %} {% macro bannerInterstitial(content, microcopy) %}
<article class="banner-interstitial {{'banner-interstitial--no-cta' if not content.cta}}">
  <div class="banner-interstitial__inner {% if content.theme.theme %}theme theme__{{content.theme.theme}}{% elif content.tag %}background-color--{{content.normalizedTag | slugify}}{% endif %}">
    <div class="banner-interstitial__content">
      <div class="banner-interstitial__text">
        <small class="banner-interstitial__eyebrow type--h2">{{microcopy.featured.eyebrow}}</small>
        <h2 class="banner-interstitial__title type--h1">{{content.title}}</h2>
        <p class="banner-interstitial__copy type--large">{{content.desc}}</p>
        <a href="{{content.cta.url}}" class="cta cta--transparent banner-interstitial__cta"> {{content.cta.text}} </a>
      </div>
      <div class="banner-interstitial__image-wrapper">
        {% if content.media.image %}
        <img class="banner-interstitial--image" src="{{content.media.image}}" alt="{{content.media.alt}}" />
        {% endif %} {% if content.theme %} {% if content.theme.background %} {% if content.theme.background.top %}
        <picture>
          <source media="(min-width: 720px)" srcset="{{content.theme.background.top}}" />
          <img class="banner-interstitial--background-pattern" src="{{content.theme.background.bottom}}" alt="" />
        </picture>
        {% else %}
        <img class="banner-interstitial--background-pattern" src="{{content.theme.background}}" alt="" />
        {% endif %} {% endif %} {% else %}
        <picture>
          <source media="(min-width: 871px)" srcset="ix://landings/news/top/banner-{{content.normalizedTag | slugify}}.svg" />
          <img class="banner-interstitial--background-pattern" src="ix://landings/news/banner-{{content.normalizedTag | slugify}}.svg" alt="" />
        </picture>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endmacro %}
