<!--{#
  Renders a card for a case study.

  @param {object} study - Object to populate the card with.
  @param {string} study.eyebrow - String representing the card eyebrow.
  @param {string} study.title - String representing the card title.

  @param {object} study.media - Object containing the following attributes.
  @param {string} study.media.image - Image's source.
  @param {string} study.media.alt - Image description.

  @param {object} study.cta - Object containing the following attributes.
  @param {string} study.cta.text - CTA message.
  @param {string} study.cta.url - URL for the CTA.
#}-->
{% from 'icon.njk' import icon %} {% macro cardStudy(study) %}
<article class="card-study {{'card-study--no-logo' if not study.logo}}">
  <img class="card-study__media" src="{{study.media.image}}" alt="{{study.media.alt}}" />
  <div class="card-study__tile">
    <small class="type--eyebrow card-study__tile-eyebrow">{{study.eyebrow}}</small>
    <h1 class="type--h4 card-study__tile-title">{{study.title}}</h1>
    <a class="cta cta--link card-study__tile-cta" href="{{study.cta.url}}">{{study.cta.text}} </a>
  </div>
</article>
{% endmacro %}
