<!--{#
  Renders a card with subnav links.

  @param {object} navSection - Object containing the following attributes.
  @param {string} navSection.title - Nav section title.
  @param {string} navSection.desc - Nav section description.
  @param {object} navSection.icon - Object containing the following attributes.
  @param {string} navSection.icon.name - ID of icon within spritesheet.
  @param {('primary-blue'|'primary-yellow'|'primary-green')} navSection.icon.background - Color keyword to apply as the icon's background circle.
  @param {object[]} navSection.sections - List of sections representing the sub-navigation of the site.
  @param {string} navSection.sections[].title - Title of the subnav section.
  @param {string} navSection.sections[].url - Url of the subnav section.

 #}-->
{% from 'icon.njk' import icon %} {% macro cardSubnav(navSection, locale) -%}
<article class="card-subnav">
  <header class="card-subnav__header">
    <h4 class="card-subnav__title type--h3">{{ navSection.title }}</h4>
    {% if navSection.icon is defined %}
    <div class="card-subnav__icon-wrapper {% if navSection.icon.background in ['primary-blue', 'primary-yellow', 'primary-green'] %} card-subnav__icon-wrapper--{{navSection.icon.background}} {% endif %}">{{ icon(navSection.icon.name, 'card-subnav__icon') }}</div>
    {% endif %}
  </header>
  <p class="card-subnav__body type--base">{{ navSection.desc }}</p>
  <ul class="card-subnav__sections">
    {% if navSection.sections %} {% for section in navSection.sections %}
    <li class="card-subnav__section">
      <a href="/{{locale}}/{{section.url}}" class="card-subnav__anchor type--h5">
        {{section.title}}
        <span class="card-subnav__section-icon" aria-hidden="true"> {{ icon('arrow-forward', 'card-subnav__arrow icon--animated') }} </span>
      </a>
    </li>
    {% endfor %} {% else %}
    <li class="card-subnav__section type--h5">
      {% set url = "/" + locale + "/" + navSection.url %}
      <a href="{{url}}" class="card-subnav__anchor">
        {{ url | attrByURL('title') }}
        <span class="card-subnav__section-icon" aria-hidden="true"> {{ icon('arrow-forward', 'card-subnav__arrow icon--animated') }} </span>
      </a>
    </li>
    {% endif %}
  </ul>
</article>
{%- endmacro %}
