<!--{#
  Renders an accent shape.

  @param {string} type - The type of shape to be rendered. 
  @param {string} fill - Fills the SVG paths or the background of the shape with the provided CSS custom property color.
  @param {string} modifier (optional) - A modifier class added to the shape.
#}-->
{% from 'pattern-brackets.njk' import brackets %}
{% macro decorShape(type, fill, modifier) %}
  <div class="shape shape--{{type}} shape--{{fill}} {{modifier}}">
    {% if type == 'bracket-circle' %}
      {{ brackets(fill) }}
    {% endif %}
  </div>
{% endmacro %}