<!-- {# Global footer
  Arguments:
    - localeCode: String of the currently languaje code selected.
    - languages: List of the available languages.
    - content: Object with the footer content.
    - ssi: Boolean value to define server side include
#} -->
{% from 'icon.njk' import icon %} {% macro footer(localeCode, languages, content, ssi = true) %}{% if ssi %}<!--#include virtual="/_components/{{localeCode}}/footer.txt"-->
{% endif %}
<footer class="footer container">
  <section class="footer__container landing__wrapper landing__wrapper--background landing__wrapper--no-spacing">
    <div class="footer__logo-container">
      <a class="footer__link" href="https://www.google.com/" aria-label="Google">{{ icon('google-solid-logo', 'footer__google-logo') }}</a>
    </div>
    <ul class="footer__primary-links">
      {% for link in content.links %}
      <li class="footer__item">
        <a class="type--tertiary-nav" href="{{link.url | localizationUrl(localeCode) }}">{{ link.text }}</a>
      </li>
      {% endfor %}{# End for links#}
    </ul>
    <ul class="footer__secondary-links">
      <li class="footer__help">
        <a href="{{ content.help.url }}" class="type--tertiary-nav footer__help-link">
          {{ icon('help', 'footer__help-icon') }}
          <span>{{ content.help.text }}</span>
        </a>
      </li>
      {% if languages %}
      <li class="footer__languages">
        <select class="footer__select type--tertiary-nav" name="lang" id="lang" aria-label="{{ content.selectLang }}">
          {% for lang in languages %} {% if lang === localeCode %}
          <option value="{{ lang }}" selected>{{ lang | iso('getNativeName') }}</option>
          {% else %}
          <option value="{{ lang }}">{{ lang | iso('getNativeName') }}</option>
          {% endif %} {% endfor %}
        </select>
      </li>
      {% endif %}
    </ul>
  </section>
</footer>
{% if ssi %}<!--#endinclude-->
{% endif %} {% endmacro %}
