<!--{#
  Renders a Hero with copy and an image (bottom in mobile, rigth desktop).

  @param {object} content: Object containing the post's information
  @param {string} content.eyebrow: String representing the hero eyebrow.
  @param {string} content.title: String representing the page main title.
  @param {string} content.copy: String with some additional text for the hero.
  @param {object[]} content.images: Images to use
  @param {string} content.images.image: String representing image path.
  @param {string} content.images.alt: String representing the image alt.
  @param {object} content.cta: Object representing the CTA information.
  @param {string} content.cta.url: String representing the CTA url.
  @param {string} content.cta.text: String representing the CTA text.
 #}-->
{% from 'icon.njk' import icon %} {% macro hero(content) -%} {% set tagSlug = content.tag | slugify %}
<article class="hero {% if content.tag %}hero__background--{{tagSlug}}{% endif %}">
  <div class="wrapper--padded hero__content">
    <div class="hero__content-wrapper">
      {% if content.tag %}{{icon(tagSlug, 'hero__icon')}}{% endif %}
      <small class="hero__eyebrow type--eyebrow">{{content.eyebrow}}</small>
      <h1 class="hero__title type--h1">{{content.title}}</h1>

      <p class="hero__copy type--h4">{{content.desc}}</p>
      <a class="hero__link cta cta--link cta--right-icon" href="{{content.cta.url}}">{{content.cta.text}}</a>
    </div>
  </div>
  <div class="hero__images">
    {% for image in content.images %}
    <img class="hero__images--image" src="{{image.image}}" alt="{{image.alt}}" />
    {% endfor %}
    <img class="hero__images--background-pattern" src="ix://landings/news/banner-{{tagSlug}}.svg" alt="" />
  </div>
</article>
{%- endmacro %}
