<!--{#
  Renders a hero with an animation.

  Arguments:
    @param {object} heading: An object with the following attributes.
    @param {string} heading.default: Standard text, displayed in white.
    @param {string} heading.accent (optional): Accented text, displayed in tertiary blue.
    @param {Object} cta (optional): Object containing the CTA info.
    @param {string} cta.text: The CTA's text.
    @param {string} cta.url: The CTA's URL.
    @param {Object} media: Object containing static and placeholder images.

    @param {Object} media.placeholder - Object containing the following attributes.
    @param {string} media.placeholder.src - Image source
    @param {string} media.placeholder.alt - Image description

    @param {Object} media.static - Object containing the following attributes.
    @param {string} media.static.src - Image source
    @param {string} media.static.alt - Image description
#}-->
{% macro heroAnimated(heading, copy, cta, media) -%} {% set br = joiner("<br />") %}
<div class="hero-animated">
  <div class="hero-animated__content">
    <h1 class="hero-animated__heading type--mega">{{heading.default}}{% if heading.accent is defined %} <span class="hero-animated__heading--accent">{{heading.accent}}</span>{% endif %}</h1>
    {% if copy is defined %}
    <h2 class="hero-animated__copy type--large">{{ copy }}</h2>
    {% endif %} {% if cta is defined %}
    <div class="hero-animated__cta">
      <a class="hero-animated__link cta cta--transparent" href="{{ cta.url }}">{{ cta.text }}</a>
    </div>
    {% endif %}
  </div>
  <div class="hero-animated__wrapper">
    <div class="hero-animated__background">
      <img class="hero-animated__animation-item hero-animated__animation-item--chrome-os" src="{{media.placeholder.src}}" alt="{{media.placeholder.alt}}" data-static />
      <img class="hero-animated__animation-item hero-animated__animation-item--phosphor" src="{{media.phosphor.src}}" alt="{{media.phosphor.alt}}" data-phosphor />
      <img class="hero-animated__animation-item hero-animated__animation-item--hide" src="{{media.static.src}}" alt="{{media.static.alt}}" data-fallback />
    </div>
    <div class="hero-animated__animation" data-wrapper></div>
  </div>
</div>
{%- endmacro %}
