<!--{#
  Renders a Hero with copy and an image (bottom in mobile, rigth desktop).

  @param {object} content: Object containing the post's information
  @param {string} content.eyebrow: String representing the hero eyebrow.
  @param {string} content.title: String representing the page main title.
  @param {string} content.copy: String with some additional text for the hero.
  @param {object[]} content.images: Images to use
  @param {string} content.images.image: String representing image path.
  @param {string} content.images.alt: String representing the image alt.
  @param {object} content.cta: Object representing the CTA information.
  @param {string} content.cta.url: String representing the CTA url.
  @param {string} content.cta.text: String representing the CTA text.
 #}-->
{% macro hero(content) -%} {% set tagSlug = content.normalizedTag | slugify %}
<article class="hero {% if content.theme.theme %}theme theme__{{content.theme.theme}}{% elif content.tag %}background-color--{{tagSlug}}{% endif %}">
  <div class="wrapper--padded hero__content">
    <div class="hero__content-wrapper">
      {% if content.theme.icon %}
      <img src="{{content.theme.icon}}" alt="" class="hero__icon icon" aria-hidden="true" />
      {% elif content.tag %} <img src="ix://icons/eyebrows/{{tagSlug}}.svg" alt="" class="hero-hero__icon icon" aria-hidden="true" /> {% endif %}
      <small class="hero__eyebrow type--eyebrow">{{content.eyebrow}}</small>
      <h1 class="hero__title type--h1">{{content.title}}</h1>

      <p class="hero__copy type--h4">{{content.desc}}</p>
      <a class="hero__link cta cta--link cta--right-icon" href="{{content.cta.url}}">{{content.cta.text}}</a>
    </div>
  </div>
  <div class="hero__images">
    {% if content.media.image %}
    <img class="hero__images--image" src="{{content.media.image}}" alt="{{content.media.alt}}" />
    {% endif %} {% if content.theme.background %} {% if content.theme.background.top %}
    <picture>
      <source media="(min-width: 871px)" srcset="{{content.theme.background.top}}" />
      <img class="hero__images--background-pattern" src="{{content.theme.background.bottom}}" alt="" />
    </picture>
    {% else %}
    <img class="hero__images--background-pattern" src="{{content.theme.background}}" alt="" />
    {% endif %} {% else %}
    <picture>
      <source media="(min-width: 871px)" srcset="ix://landings/news/top/banner-{{tagSlug}}.svg" />
      <img class="hero-article__images--background-pattern" src="ix://landings/news/banner-{{tagSlug}}.svg" alt="" />
    </picture>
    {% endif %}
  </div>
</article>
{%- endmacro %}
