<!--{#
  Creates a svg icon based on sprite.svg.

  Arguments:
    id: String that identifies the svg within the sprite.
    customClass: String for additional styling.
#}-->
{% macro icon(id, customClass = "") %}
<svg role="img" aria-hidden="true" class="icon {{ customClass }}">
  <use xlink:href="ix://icons/sprite.svg#{{ id }}"></use>
</svg>
{% endmacro %}
