<!--{#
  Renders a section with items.

  Arguments:
    @param {string} title: Section title.
    @param {string} items: List of item objects.

    @param {object} modifiers (optional): Object with modifier styles for the grid.
    @param {string} modifiers.custom: Custom modifier styles for the grid.
    @param {number} modifiers.shapeOn: Index of the nth item of the grid that will have a shape in the background.
        A value equals to 0 will turn off the shape. Defaults to 0.
    @param {string} modifiers.variant: If 'icon', it will render the icon-card. if 'subnav' it will render card-subnav. if 'community' it will render external-community.

    @param {string} locale: Code for the current locale, used when 'modifiers.variant' is 'subnav'

    @param {string} defaultText: Default text used when 'modifiers.variant' is 'icon'.
 #}-->
{% from 'external-community.njk' import externalCommunity %} {% from 'card-subnav.njk' import cardSubnav %} {% from 'icon-card.njk' import iconCard %} {% from 'card.njk' import card %} {% macro itemGrid(title, items, modifiers, locale, defaultText) %} {% if items.length > 0 %}
<section class="item-grid {{modifiers.custom}} {{'item-grid--icon-card' if modifiers.variant == 'icon'}} {{ 'item-grid--subnav' if modifiers.variant == 'subnav' }} {{'item-grid--community' if modifiers.variant == 'community'}} {{'item-grid--circled' if modifiers.shapeOn }}">
  <h3 class="item-grid__title type--h3">{{title}}</h3>
  <div class="item-grid__content">
    {% for item in items %} {% if modifiers.variant == 'icon' %} {{iconCard(item, defaultText)}} {% elif modifiers.variant == 'subnav' %} {% if item.icon and item.desc %} {{cardSubnav(item, locale)}} {% endif %} {% elif modifiers.variant == 'community' %} {{externalCommunity(item.logo, item.topic, item.cta)}} {% else %} {{ card(item) }} {% endif %} {% endfor %}
  </div>
</section>
{% endif %} {% endmacro %}
