<figure id="figure-timeline">
  <svg id="lts-timeline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 585.96 125.53" role="presentation" aria-label="Table showing months September 2022-August 2023. Each month has a corresponding stable channel release, starting at 108 in September of 2022 and ending with 116 August of 2923. Long-term stable release 102 starts September 2022 and coincides with Stable 105, running six months until Stable 111 is released March 2023. Starting December 2022 with Stable 108, a long-term support candidate release 108 is active and stays active until March 2023, when long-term stable 108 is released. That is available until August 2023. In June 2023, long-term support candidate 114 is released, and will, too, run for three months.">
    <defs>
      <style>
        .cls-1 {
          letter-spacing: -0.01em;
        }
        .cls-2 {
          letter-spacing: -0.02em;
        }
        .cls-3 {
          letter-spacing: -0.04em;
        }
        .cls-4 {
          letter-spacing: -0.08em;
        }
        .cls-6 {
          letter-spacing: -0.03em;
        }
        .cls-10,
        .cls-7,
        .cls-8,
        .cls-9 {
          fill: currentColor;
        }
        .cls-11,
        .cls-7 {
          font-size: 10px;
        }
        .cls-15 {
          letter-spacing: 0.01em;
        }
        .cls-17 {
          letter-spacing: -0.01em;
        }
        .cls-18,
        .cls-8 {
          font-size: 12px;
        }
        .cls-20 {
          letter-spacing: -0.03em;
        }
        .cls-22 {
          letter-spacing: -0.07em;
        }
        .cls-9 {
          font-size: 11px;
        }
        .cls-23 {
          fill: var(--blue-300);
        }
        .cls-23,
        .cls-24,
        .cls-25 {
          stroke: currentColor;
          stroke-miterlimit: 10;
        }
        .cls-24 {
          fill: var(--yellow-300);
        }
        .cls-25 {
          fill: var(--green-300);
        }
        .cls-28 {
          letter-spacing: -0.03em;
        }
        .cls-30,
        .cls-31 {
          letter-spacing: 0;
        }
        .cls-32 {
          letter-spacing: -0.02em;
        }
        .cls-34,
        .cls-35,
        .cls-37,
        .cls-38 {
          letter-spacing: 0;
        }
      </style>
    </defs>
    <path style="fill: var(--white)" d="M1.39.27h584.57v125H1.39z" />
    <path class="cls-25" d="M121.51 91.91H352.5v31.5H121.51zM352.52 91.91h230.99v31.5H352.52z" />
    <text class="cls-8" transform="translate(217.23 111.8)">
      <tspan x="0" y="0">1</tspan>
      <tspan class="cls-1" x="4.56" y="0">0</tspan>
      <tspan x="12.18" y="0">2</tspan>
      <tspan class="cls-22" x="21.28" y="0">L</tspan>
      <tspan class="cls-31" x="26.48" y="0">T</tspan>
      <tspan x="32.82" y="0">S</tspan>
    </text>
    <text class="cls-8" transform="translate(448.02 111.8)">
      <tspan x="0" y="0">108</tspan>
      <tspan class="cls-22" x="21.7" y="0">L</tspan>
      <tspan class="cls-1" x="26.9" y="0">T</tspan>
      <tspan x="33.24" y="0">S</tspan>
    </text>
    <path class="cls-23" d="M121.51 28.91h38.5v31.5h-38.5zM160.01 28.91h38.5v31.5h-38.5zM198.51 28.91h38.5v31.5h-38.5zM237.01 28.91h38.5v31.5h-38.5zM275.51 28.91h38.5v31.5h-38.5zM314.01 28.91h38.5v31.5h-38.5zM352.51 28.91h38.5v31.5h-38.5zM391.01 28.91h38.5v31.5h-38.5zM429.51 28.91h38.5v31.5h-38.5zM468.01 28.91h38.5v31.5h-38.5zM506.51 28.91h38.5v31.5h-38.5zM545.01 28.91h38.5v31.5h-38.5z" />
    <path class="cls-24" d="M237 60.41h115.49v31.5H237zM468 60.41h115.49v31.5H468z" />
    <path style="fill: none; stroke: currentColor; stroke-miterlimit: 10" d="M121.51 60.5H237V92H121.51z" />
    <text class="cls-7" transform="translate(133.06 42.58)">
      <tspan x="0" y="0">105</tspan>
      <tspan class="cls-20" x="-6.01" y="12">S</tspan>
      <tspan class="cls-1" x="-.64" y="12">t</tspan>
      <tspan x="2.92" y="12">a</tspan>
      <tspan class="cls-35" x="8.23" y="12">bl</tspan>
      <tspan x="16.26" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(171.27 42.03)">
      <tspan x="0" y="0">106</tspan>
      <tspan class="cls-20" x="-6.04" y="12">S</tspan>
      <tspan class="cls-1" x="-.67" y="12">t</tspan>
      <tspan x="2.89" y="12">a</tspan>
      <tspan class="cls-35" x="8.2" y="12">bl</tspan>
      <tspan x="16.23" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(210.46 42.03)">
      <tspan x="0" y="0">1</tspan>
      <tspan class="cls-1" x="3.8" y="0">0</tspan>
      <tspan x="10.15" y="0">7</tspan>
      <tspan class="cls-20" x="-6.23" y="12">S</tspan>
      <tspan class="cls-1" x="-.86" y="12">t</tspan>
      <tspan x="2.7" y="12">a</tspan>
      <tspan class="cls-35" x="8.01" y="12">bl</tspan>
      <tspan x="16.04" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(248.3 42.03)">
      <tspan x="0" y="0">108</tspan>
      <tspan class="cls-20" x="-6.07" y="12">S</tspan>
      <tspan class="cls-1" x="-.7" y="12">t</tspan>
      <tspan x="2.86" y="12">a</tspan>
      <tspan class="cls-35" x="8.17" y="12">bl</tspan>
      <tspan x="16.2" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(286.27 42.03)">
      <tspan x="0" y="0">109</tspan>
      <tspan class="cls-20" x="-6.04" y="12">S</tspan>
      <tspan class="cls-1" x="-.67" y="12">t</tspan>
      <tspan x="2.89" y="12">a</tspan>
      <tspan class="cls-35" x="8.2" y="12">bl</tspan>
      <tspan x="16.23" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(326.57 42.31)">
      <tspan x="0" y="0">110</tspan>
      <tspan class="cls-20" x="-6.93" y="12">S</tspan>
      <tspan class="cls-1" x="-1.56" y="12">t</tspan>
      <tspan x="2" y="12">a</tspan>
      <tspan class="cls-35" x="7.31" y="12">bl</tspan>
      <tspan x="15.35" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(366.07 41.75)">
      <tspan x="0" y="0">111</tspan>
      <tspan class="cls-20" x="-8.25" y="12">S</tspan>
      <tspan class="cls-1" x="-2.88" y="12">t</tspan>
      <tspan x=".68" y="12">a</tspan>
      <tspan class="cls-35" x="5.99" y="12">bl</tspan>
      <tspan x="14.02" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(404.29 41.75)">
      <tspan x="0" y="0">1</tspan>
      <tspan class="cls-15" x="3.8" y="0">1</tspan>
      <tspan x="7.7" y="0">2</tspan>
      <tspan class="cls-20" x="-7.47" y="12">S</tspan>
      <tspan class="cls-1" x="-2.1" y="12">t</tspan>
      <tspan x="1.46" y="12">a</tspan>
      <tspan class="cls-35" x="6.77" y="12">bl</tspan>
      <tspan x="14.8" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(442.3 41.75)">
      <tspan x="0" y="0">113</tspan>
      <tspan class="cls-20" x="-7.48" y="12">S</tspan>
      <tspan class="cls-1" x="-2.11" y="12">t</tspan>
      <tspan x="1.45" y="12">a</tspan>
      <tspan class="cls-35" x="6.76" y="12">bl</tspan>
      <tspan x="14.79" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(480.01 41.75)">
      <tspan x="0" y="0">114</tspan>
      <tspan class="cls-20" x="-7.19" y="12">S</tspan>
      <tspan class="cls-1" x="-1.82" y="12">t</tspan>
      <tspan x="1.74" y="12">a</tspan>
      <tspan class="cls-35" x="7.05" y="12">bl</tspan>
      <tspan x="15.08" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(518.93 42.31)">
      <tspan x="0" y="0">1</tspan>
      <tspan class="cls-15" x="3.8" y="0">1</tspan>
      <tspan x="7.7" y="0">5</tspan>
      <tspan class="cls-20" x="-7.29" y="12">S</tspan>
      <tspan class="cls-1" x="-1.92" y="12">t</tspan>
      <tspan x="1.65" y="12">a</tspan>
      <tspan class="cls-35" x="6.96" y="12">bl</tspan>
      <tspan x="14.99" y="12">e</tspan>
    </text>
    <text class="cls-7" transform="translate(557.16 41.75)">
      <tspan x="0" y="0">1</tspan>
      <tspan class="cls-38" x="3.8" y="0">1</tspan>
      <tspan x="7.65" y="0">6</tspan>
      <tspan class="cls-20" x="-7.34" y="12">S</tspan>
      <tspan class="cls-1" x="-1.97" y="12">t</tspan>
      <tspan x="1.59" y="12">a</tspan>
      <tspan class="cls-35" x="6.9" y="12">bl</tspan>
      <tspan x="14.93" y="12">e</tspan>
    </text>
    <text class="cls-9" transform="translate(130.82 11.2)">
      <tspan x="0" y="0">Sep</tspan>
      <tspan x="-2.69" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.09" y="13.2">0</tspan>
      <tspan x="10.08" y="13.2">22</tspan>
    </text>
    <text class="cls-7" transform="translate(169.87 10.89)">
      <tspan class="cls-1" x="0" y="0">O</tspan>
      <tspan class="cls-35" x="8.14" y="0">c</tspan>
      <tspan x="13.55" y="0">t</tspan>
      <tspan x="-2.46" y="12">2</tspan>
      <tspan class="cls-1" x="2.8" y="12">0</tspan>
      <tspan x="9.15" y="12">22</tspan>
    </text>
    <text class="cls-9" transform="translate(207.62 10.65)">
      <tspan class="cls-30" x="0" y="0">N</tspan>
      <tspan class="cls-32" x="7.68" y="0">o</tspan>
      <tspan x="14.07" y="0">v</tspan>
      <tspan x="-2.31" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.48" y="13.2">0</tspan>
      <tspan x="10.46" y="13.2">22</tspan>
    </text>
    <text class="cls-9" transform="translate(245.57 10.65)">
      <tspan class="cls-32" x="0" y="0">D</tspan>
      <tspan x="7.57" y="0" style="letter-spacing: 0">e</tspan>
      <tspan x="13.82" y="0">c</tspan>
      <tspan x="-2.26" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.52" y="13.2">0</tspan>
      <tspan x="10.51" y="13.2">22</tspan>
    </text>
    <text class="cls-9" transform="translate(284.56 10.65)">
      <tspan x="0" y="0">Jan</tspan>
      <tspan x="-3.3" y="13.2">2</tspan>
      <tspan class="cls-30" x="2.49" y="13.2">0</tspan>
      <tspan x="9.47" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(323.72 10.92)">
      <tspan x="0" y="0" style="letter-spacing: -0.03em">F</tspan>
      <tspan x="5.51" y="0">eb</tspan>
      <tspan x="-3.06" y="13.2">2</tspan>
      <tspan class="cls-30" x="2.73" y="13.2">0</tspan>
      <tspan x="9.71" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(361.41 10.37)">
      <tspan class="cls-32" x="0" y="0">M</tspan>
      <tspan x="9.36" y="0">ar</tspan>
      <tspan x="-2.56" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.23" y="13.2">0</tspan>
      <tspan x="10.21" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(401.03 10.37)">
      <tspan x="0" y="0" style="letter-spacing: 0">A</tspan>
      <tspan class="cls-37" x="7.42" y="0">p</tspan>
      <tspan x="13.95" y="0">r</tspan>
      <tspan x="-3.18" y="13.2">2</tspan>
      <tspan class="cls-30" x="2.6" y="13.2">0</tspan>
      <tspan x="9.59" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(437.69 10.37)">
      <tspan class="cls-32" x="0" y="0">M</tspan>
      <tspan class="cls-30" x="9.36" y="0">a</tspan>
      <tspan x="15.09" y="0">y</tspan>
      <tspan x="-1.84" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.95" y="13.2">0</tspan>
      <tspan x="10.93" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(477.04 10.37)">
      <tspan class="cls-30" x="0" y="0">J</tspan>
      <tspan x="5.72" y="0">un</tspan>
      <tspan x="-3.19" y="13.2">2</tspan>
      <tspan class="cls-30" x="2.6" y="13.2">0</tspan>
      <tspan x="9.58" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(517.78 10.92)">
      <tspan class="cls-30" x="0" y="0">J</tspan>
      <tspan x="5.72" y="0">ul</tspan>
      <tspan x="-5.11" y="13.2">2</tspan>
      <tspan class="cls-30" x=".67" y="13.2">0</tspan>
      <tspan x="7.66" y="13.2">23</tspan>
    </text>
    <text class="cls-9" transform="translate(553.18 10.37)">
      <tspan x="0" y="0" style="letter-spacing: -0.02em">A</tspan>
      <tspan class="cls-37" x="7.1" y="0">u</tspan>
      <tspan x="13.21" y="0">g</tspan>
      <tspan x="-2.33" y="13.2">2</tspan>
      <tspan class="cls-30" x="3.45" y="13.2">0</tspan>
      <tspan x="10.44" y="13.2">23</tspan>
    </text>
    <text class="cls-10" transform="translate(35.83 42.61)">
      <tspan class="cls-18">
        <tspan class="cls-28" x="0" y="0">S</tspan>
        <tspan class="cls-1" x="6.44" y="0">t</tspan>
        <tspan x="10.72" y="0">a</tspan>
        <tspan class="cls-34" x="17.09" y="0">bl</tspan>
        <tspan x="26.72" y="0">e</tspan>
        <tspan class="cls-2" x="33.48" y="0"></tspan>
        <tspan class="cls-1" x="36.02" y="0">C</tspan>
        <tspan class="cls-34" x="44.8" y="0">h</tspan>
        <tspan x="51.5" y="0">annel</tspan>
      </tspan>
      <tspan class="cls-11">
        <tspan x="22.46" y="12">4</tspan>
        <tspan class="cls-1" x="30.71" y="12">w</tspan>
        <tspan class="cls-38" x="38.38" y="12">e</tspan>
        <tspan x="44.06" y="12">ek c</tspan>
        <tspan class="cls-2" x="62.52" y="12">y</tspan>
        <tspan x="67.48" y="12">c</tspan>
        <tspan class="cls-35" x="72.94" y="12">l</tspan>
        <tspan x="75" y="12">e</tspan>
      </tspan>
    </text>
    <text class="cls-10" transform="translate(1.29 74.21)">
      <tspan class="cls-18">
        <tspan class="cls-17" x="0" y="0">L</tspan>
        <tspan class="cls-31" x="5.96" y="0">o</tspan>
        <tspan class="cls-34" x="13" y="0">n</tspan>
        <tspan x="19.67" y="0">g</tspan>
        <tspan class="cls-3" x="26.83" y="0"></tspan>
        <tspan class="cls-4" x="29.14" y="0">T</tspan>
        <tspan x="34.63" y="0">erm</tspan>
        <tspan x="56.4" y="0" xml:space="preserve" style="letter-spacing: -0.02em">C</tspan>
        <tspan x="67.6" y="0">and</tspan>
        <tspan x="87.92" y="0" style="letter-spacing: 0">id</tspan>
        <tspan class="cls-1" x="97.74" y="0">a</tspan>
        <tspan x="103.99" y="0" style="letter-spacing: -0.02em">t</tspan>
        <tspan x="108.12" y="0">e</tspan>
      </tspan>
      <tspan class="cls-11">
        <tspan x="40" y="12">3 m</tspan>
        <tspan class="cls-1" x="56.43" y="12">o</tspan>
        <tspan x="62.29" y="12" style="letter-spacing: -0.02em">n</tspan>
        <tspan x="67.65" y="12" style="letter-spacing: 0">t</tspan>
        <tspan x="71.36" y="12">h</tspan>
        <tspan class="cls-35" x="79.32" y="12">p</tspan>
        <tspan x="85.25" y="12" style="letter-spacing: -0.03em">r</tspan>
        <tspan class="cls-1" x="88.7" y="12">e</tspan>
        <tspan x="94.23" y="12" style="letter-spacing: 0">v</tspan>
        <tspan x="99.37" y="12" style="letter-spacing: 0">i</tspan>
        <tspan class="cls-1" x="101.58" y="12">e</tspan>
        <tspan x="107.11" y="12">w</tspan>
      </tspan>
    </text>
    <text class="cls-10" transform="translate(23.15 106.14)">
      <tspan class="cls-18">
        <tspan class="cls-17" x="0" y="0">L</tspan>
        <tspan class="cls-31" x="5.96" y="0">o</tspan>
        <tspan class="cls-34" x="13" y="0">n</tspan>
        <tspan x="19.67" y="0">g</tspan>
        <tspan class="cls-3" x="26.83" y="0"></tspan>
        <tspan class="cls-4" x="29.14" y="0">T</tspan>
        <tspan x="34.63" y="0">erm</tspan>
        <tspan class="cls-6" x="56.4" y="0"></tspan>
        <tspan class="cls-28" x="58.82" y="0">S</tspan>
        <tspan class="cls-1" x="65.27" y="0">t</tspan>
        <tspan x="69.54" y="0">a</tspan>
        <tspan class="cls-34" x="75.91" y="0">bl</tspan>
        <tspan x="85.55" y="0">e</tspan>
      </tspan>
      <tspan class="cls-11">
        <tspan x="29.19" y="12">6 m</tspan>
        <tspan class="cls-1" x="45.84" y="12">o</tspan>
        <tspan class="cls-20" x="51.7" y="12">n</tspan>
        <tspan class="cls-38" x="57.06" y="12">t</tspan>
        <tspan x="60.77" y="12">h c</tspan>
        <tspan class="cls-2" x="74.19" y="12">y</tspan>
        <tspan x="79.15" y="12">c</tspan>
        <tspan class="cls-35" x="84.61" y="12">l</tspan>
        <tspan x="86.67" y="12">e</tspan>
      </tspan>
    </text>
    <text class="cls-8" transform="translate(273.55 80.3)">
      <tspan x="0" y="0">108</tspan>
      <tspan class="cls-22" x="21.7" y="0">L</tspan>
      <tspan class="cls-6" x="26.9" y="0">T</tspan>
      <tspan x="33" y="0">C</tspan>
    </text>
    <text class="cls-8" transform="translate(505.88 80.3)">
      <tspan x="0" y="0">114</tspan>
      <tspan class="cls-22" x="19.02" y="0">L</tspan>
      <tspan class="cls-6" x="24.23" y="0">T</tspan>
      <tspan x="30.32" y="0">C</tspan>
    </text>
  </svg>
  <figcaption>
    <p><span class="figure-id">1: </span>Timeline of stable, LTC, and LTS releases</p>
  </figcaption>
</figure>
