<!--{#
  Renders a card that links to a video.

  @param {object} video - An object with the following attributes.
  @param {string} video.title - Text displayed beneath the video capture.
  @param {string} video.id - The ID of the YouTube video.
#}-->
{% from 'icon.njk' import icon %} {% macro videoCard(video) %}
<a class="video-card" href="https://www.youtube.com/watch?v={{video.id}}">
  <figure>
    <div class="video-card__thumbnail-wrapper">
      <picture>
        <source srcset="https://img.youtube.com/vi_webp/{{video.id}}/hqdefault.webp" type="image/webp" />
        <source srcset="https://img.youtube.com/vi/{{video.id}}/hqdefault.jpg" type="image/jpeg" />
        <img class="video-card__thumbnail" src="https://img.youtube.com/vi/{{video.id}}/hqdefault.jpg" alt="{{video.title}}" loading="lazy" />
      </picture>
      {{ icon('play-button', 'video-card__play-icon') }}
    </div>
    <figcaption class="video-card__caption">
      <p class="type--h4">{{video.title}}</p>
    </figcaption>
  </figure>
</a>
{% endmacro %}
