$phosphor-green: #33ff00;
$phosphor-gray: #202124;

$phosphor-colors: (
  'blue-850': $phosphor-green,
  'blue-800': $phosphor-green,
  'blue-700': $phosphor-green,
  'blue-650': #1a7236,
  'blue-600': $phosphor-green,
  'blue-500': $phosphor-green,
  'blue-400': $phosphor-green,
  'blue-300': $phosphor-green,
  'blue-250': $phosphor-green,
  'blue-200': $phosphor-green,
  'blue-100': $phosphor-green,
  'blue-50': $phosphor-green,
  'blue-25': $phosphor-green,
  'red-900': $phosphor-green,
  'red-800': $phosphor-green,
  'red-750': $phosphor-green,
  'red-700': $phosphor-green,
  'red-650': #80db7a,
  'red-600': $phosphor-green,
  'red-500': $phosphor-green,
  'red-400': $phosphor-green,
  'red-300': $phosphor-green,
  'red-200': $phosphor-green,
  'red-250': $phosphor-green,
  'red-100': $phosphor-green,
  'red-50': $phosphor-green,
  'yellow-900': $phosphor-green,
  'yellow-800': $phosphor-green,
  'yellow-750': $phosphor-green,
  'yellow-700': $phosphor-green,
  'yellow-600': $phosphor-green,
  'yellow-500': $phosphor-green,
  'yellow-450': #4bad4b,
  'yellow-400': $phosphor-green,
  'yellow-300': $phosphor-green,
  'yellow-250': $phosphor-green,
  'yellow-200': $phosphor-green,
  'yellow-100': $phosphor-green,
  'yellow-50': $phosphor-green,
  'green-900': $phosphor-green,
  'green-850': $phosphor-green,
  'green-800': $phosphor-green,
  'green-700': $phosphor-green,
  'green-600': $phosphor-green,
  'green-500': $phosphor-green,
  'green-450': $phosphor-green,
  'green-400': $phosphor-green,
  'green-300': $phosphor-green,
  'green-250': $phosphor-green,
  'green-200': $phosphor-green,
  'green-100': $phosphor-green,
  'green-50': $phosphor-green,
  'grey-1000': $phosphor-green,
  'grey-900': $phosphor-green,
  'grey-850': $phosphor-green,
  'grey-800': $phosphor-green,
  'grey-750': $phosphor-green,
  'grey-700': $phosphor-green,
  'grey-600': $phosphor-green,
  'grey-500': $phosphor-gray,
  'grey-400': $phosphor-gray,
  'grey-350': $phosphor-gray,
  'grey-300': $phosphor-gray,
  'grey-200': $phosphor-gray,
  'grey-150': $phosphor-gray,
  'grey-100': $phosphor-gray,
  'grey-75': $phosphor-gray,
  'grey-50': $phosphor-gray,
  'orange-900': $phosphor-green,
  'orange-800': $phosphor-green,
  'orange-700': $phosphor-green,
  'orange-600': $phosphor-green,
  'orange-500': $phosphor-green,
  'orange-400': $phosphor-green,
  'orange-300': $phosphor-green,
  'orange-200': $phosphor-green,
  'orange-100': $phosphor-green,
  'orange-50': $phosphor-green,
  'pink-900': $phosphor-green,
  'pink-800': $phosphor-green,
  'pink-700': $phosphor-green,
  'pink-600': $phosphor-green,
  'pink-500': $phosphor-green,
  'pink-400': $phosphor-green,
  'pink-300': $phosphor-green,
  'pink-200': $phosphor-green,
  'pink-100': $phosphor-green,
  'pink-50': $phosphor-green,
  'purple-900': $phosphor-green,
  'purple-800': $phosphor-green,
  'purple-700': $phosphor-green,
  'purple-600': $phosphor-green,
  'purple-500': $phosphor-green,
  'purple-400': $phosphor-green,
  'purple-300': $phosphor-green,
  'purple-200': $phosphor-green,
  'purple-100': $phosphor-green,
  'purple-50': $phosphor-green,
  'cyan-900': $phosphor-green,
  'cyan-800': $phosphor-green,
  'cyan-700': $phosphor-green,
  'cyan-600': $phosphor-green,
  'cyan-500': $phosphor-green,
  'cyan-400': $phosphor-green,
  'cyan-300': $phosphor-green,
  'cyan-200': $phosphor-green,
  'cyan-100': $phosphor-green,
  'cyan-50': $phosphor-green,
);
