<!--{#
    Renders a select element.
    @param {Object} select - select settings.
    @param {String} select.name - String containing the select's name.
    @param {String} select.type - String containing the select's type.
    @param {String} select.label - String containing the select's label.
    @param {Boolean} select.required - Boolean containing if the select element is required.
    @param {Object} select.error - Object containing the select error configuration.
    @param {Object[]} select.options - Object containing the options list.
    @param {String} id - String containing the select's id.
#}-->
{% macro select(select, id) -%}
<span class="form__group">
  <select name="{{ select.name }}" {% if select.error %} aria-describedby="{{ select.error.id }}" {% endif %} id="{{ id }}" class="form__field form__field--select" {% if select.required %} required aria-required="true" {% endif %}>
    {% if select.options %}
    <option selected value="" class="form__select--default"></option>
    {% for option in select.options %} {% set value = option.value if option.value else option.text %}
    <option value="{{ value }}">
      {{ option.text }}
    </option>
    {% endfor %} {% endif %}
  </select>
  <label class="form__label" for="{{ id }}">
    {{ select.label }}
  </label>
</span>
{%- endmacro %}
