---
layout: _wrapper
pagination:
  data: site.l10n
  size: 1
  alias: l10n
permalink: '{{ l10n.locale.code | slug }}/404/index.html'
hideNewsletter: true
---

{% from 'search-box.njk' import searchBox %}
<div class="warpper wrapper--full-bleed wrapper--padded wrapper--padding wrapper--full-circles">
  <div class="page-not-found">
    <h1 class="type--h1">404</h1>
    <h2 class="type--h3 page-not-found__title">{{l10n['404'].title}}</h2>
    <div class="page-not-found__search">
      {{searchBox(l10n.search.placeholder, locale.code, {background: 'search-box__grey',extended:'search-box-extended', close:'search-box__close-hidden' })}}
    </div>
  </div>
</div>
