<!--{#
    Renders an input element.
    @param {Object} input - input settings.
    @param {String} input.name - String containing the input's name.
    @param {String} input.type - String containing the input's type.
    @param {String} input.label - String containing the input's label.
    @param {String} input.value - Default value for the input
    @param {Boolean} input.required - Boolean containing if the input element is required.
    @param {Object} input.error - Object containing the input error configuration.
    @param {String} id - String containing the input's id.
#}-->
{% macro input(input, id) -%}
<span class="form__group">
  <input id="{{ id }}" {% if input.error %} aria-invalid="false" aria-errormessage="invalid-{{ input.name }}" {% endif %} {% if input.type === "email" %} pattern="^[+a-zA-Z0-9_.!#$%&*\\/=?^`{|}~-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z0-9]{2,63}$" {% endif %} name="{{ input.name }}" type="{{ input.type }}" class="form__field form__field--input" {% if input.required %} required aria-required="true" {% endif %} {% if input.value %} value="{{ input.value }}" {% endif %}/>
  <label class="form__label" for="{{ id }}">{{ input.label }}</label>
</span>
{%- endmacro %}
