---
import { PortableText } from 'astro-portabletext';
import DynamicBody from '$components/blocks/DynamicBody.astro';

export interface Props {
  body: any;
}

const { body } = Astro.props;

const components = {
  block: {
    h2: DynamicBody,
    h3: DynamicBody,
  },
  type: {
    Message: DynamicBody,
    picture: DynamicBody,
  },
};
// console.log(inspect(body, false, null, true))
---

<div class="type">
  <PortableText value={body} components={components} />
</div>
