.container {
  container-type: relative;
}

.hero {
  background-color: var(--hero-theme-background);
  overflow: hidden;
  position: relative;
  width: 100%;
}

@container (min-width: 500px) {
  .hero {
    background: red;
  }
}

.hero-content {
  margin: 0 auto;
  max-width: 100rem;
  padding: clamp(2rem, 6vw, 3rem) 0;
  position: relative;
}
