// Styles for authors info used in news and stories.
.author {
  $photo-size: 2.5rem;
  column-gap: 0.5rem;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  row-gap: 0.5rem;

  &__photo {
    border: 1px solid var(--grey-300);
    border-radius: 50%;
    height: $photo-size;
    width: $photo-size;
  }

  &__copy {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 15ch;
  }
}
