@use 'sass:math';

.card-study {
  align-content: flex-start;
  border-radius: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  &,
  &__tile {
    background-color: var(--white);
  }

  &__media {
    align-self: flex-start;
    aspect-ratio: 2 / 1;
    flex: 1 0 42%;
    min-width: 15rem;
    object-fit: cover;

    @include mq(560px) {
      aspect-ratio: 5 / 3;
    }

    @include mq(1309px) {
      height: 100%;
    }
  }

  &__tile {
    align-items: flex-start;
    align-items: center;
    display: flex;
    flex: 1 1 58%;
    flex-direction: column;
    padding: 2rem 1.5rem;
    text-align: center;

    @include mq(386px) {
      align-items: revert;
      text-align: revert;
    }
  }

  &__tile-eyebrow {
    color: var(--grey-700);
  }

  &__tile-title {
    margin: 1rem 0 2rem;
  }

  &__tile-cta {
    margin-top: auto;
  }
}
