// Styles of the cookie disclaimer component
.cookie-disclaimer {
  background-color: var(--white);
  border: 0;
  bottom: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  &__wrapper {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(28ch, auto));
    justify-content: space-between;
    margin: 0 auto;
    max-width: pxRem(1440px);
    padding: pxRem(24px);

    @supports (padding: clamp(24px, 1vw, 40px)) {
      padding: clamp(24px, 4vw, 40px);
    }
  }

  .type--h5 {
    max-width: 60ch;
  }

  &__buttons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: max-content max-content;
  }

  // Fallback for browsers that don't support <dialog> api
  &:not([open]) {
    display: none;
  }
}
