// Snackbar component

.snackbar {
  @include elevation(2);
  background: var(--grey-900);
  border-radius: 0.25rem;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: calc(100vw - 2rem);
  padding: 1rem;
  width: max-content;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  &--area {
    bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    left: 1.5rem;
    position: fixed;
    z-index: 999;
  }

  &__action {
    background: transparent;
    border: 0;
    border-radius: 0.25rem;
    color: var(--blue-300);
    flex-shrink: 0;
    font-family: $font-google-sans;
    font-size: 1em;
    margin-left: 2.5rem;

    &:hover,
    &:focus {
      background-color: var(--blue-900);
    }

    &--close {
      border-radius: 50%;
      height: 1.5rem;
      padding: 0.25rem;
      width: 1.5rem;

      &:hover,
      &:focus {
        background-color: var(--grey-700);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__close {
    fill: var(--grey-400);
    height: 100%;
    vertical-align: baseline;
    width: 100%;
  }
}
