// Styles for tools list component.
// Breakpoints are tied to tech-detail layout, so before reusing it some adjustments may be necessary.

.tools {
  margin-bottom: 2rem;

  @include mq($bkpt-tech-details--3-cols) {
    padding-left: 1.25rem;
  }

  &__item-name {
    margin-bottom: 0.25rem;
  }

  &__versions {
    list-style: none;
    margin-top: 1.25rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
