%cta {
  font-family: $font-mono;

  &--high {
    background-color: var(--gray-50);
    border: 2px solid var(--blue-700);
    color: var(--blue-850);

    &:hover,
    &:active {
      background-color: var(--blue-850);
      border-color: var(--white);
      color: var(--gray-50);
    }
  }
}
