@use "sass:math";

%type {
  $bkpt-type--fablet: 420px;
  $bkpt-type--tablet: 744px;
  $bkpt-type--desktop: 1024px;
  $bkpt-type--desktop-lg: 1440px;

  &--header {
    color: var(--black);
    text-rendering: optimizeLegibility;
  }

  &--mega {
    @extend %type--header;
    @include fontSetup(36px, 50.4px, 400);

    @include mq($bkpt-type--fablet) {
      @include fluidFont($bkpt-type--fablet, $bkpt-type--tablet, 48px, 56px);
      line-height: 1.2;
    }
    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 56px, 64px);
      line-height: 1.15;
    }
  }

  &--h1 {
    @extend %type--header;
    @include fontSetup(28px, 39.2px, 400);
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      @include fluidFont($bkpt-type--fablet, $bkpt-type--tablet, 32px, 40px);
      line-height: 1.3;
    }

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 40px, 48px);
    }
  }

  &--h2 {
    @extend %type--header;
    @include fontSetup(24px, 33.6px, 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      @include fluidFont($bkpt-type--fablet, $bkpt-type--tablet, 28px, 32px);
      line-height: 1.3;
    }

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 32px, 38px);
    }

    @include mq($bkpt-type--desktop) {
      line-height: 1.2;
    }
  }
  
  &--h2-shrink-h3 {
    @extend %type--header;
    @include fontSetup(24px, 33.6px, 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 24px, 30px);
    }

    @include mq($bkpt-type--desktop) {
      line-height: 1.3;
    }
  }

  &--h3 {
    @extend %type--header;
    @include fontSetup(20px, 28px, 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      @include fluidFont($bkpt-type--fablet, $bkpt-type--tablet, 22px, 26px);
      line-height: 1.3;
    }

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 26px, 30px);
    }
  }

  &--h4 {
    @extend %type--header;
    @include fontSetup(16px, 22.4px, 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      font-size: pxRem(20px);
    }

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 20px, 22px);
    }
  }

  &--h5 {
    @extend %type--header;
    @include fontSetup(18px, 23.4px, 500);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      line-height: 1.2;
    }
  }

  &--h6 {
    @extend %type--header;

    @include flexFont((14px 24px), (16px 28px), (16px 28px), 500);
    font-family: $font-google-sans;
  }

  &--base {
    @include fontSetup(16px, 24px, 400);
    letter-spacing: -0.01em;
    color: var(--grey-900);
    font-family: $font-google-sans;

    @include mq($bkpt-type--fablet) {
      line-height: 1.6;
    }
  }

  &--large {
    @extend %type--base;

    @include fontSetup(18px, 27px, 400);
    letter-spacing: -0.01em;
    
    @include mq($bkpt-type--fablet) {
      @include fontSetup(16px, 23.2px, 400);
    }

    @include mq($bkpt-type--tablet) {
      @include fluidFont($bkpt-type--tablet, $bkpt-type--desktop-lg, 16px, 18px);
    }

    @include mq($bkpt-type--desktop) {
      line-height: 1.6;
    }
  }

  &--small {
    @extend %type--base;

    @include fontSetup(12px, 16px, 400);
  }

  &--quote {
    @include fontSetup(20px, 28px, 500);
    color: var(--grey-700);
    font-family: $font-google-sans;
  }

  &--eyebrow {
    @extend %type--header;
    @include fontSetup(12px, 12px, 500);
    display: inline-block;
    font-family: $font-google-sans;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include mq($bkpt-type--fablet) {
      @include fluidFont($bkpt-type--fablet, $bkpt-type--tablet, 12px, 14px);
    }

    @include mq($bkpt-type--tablet) {
      letter-spacing: 0.01em;
    }
  }

  &--label {
    @include fontSetup(11px, 16px, 600);
    color: var(--grey-900);
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  &--revert {
    text-transform: none;
  }

  &--caption {
    #{--icon-offset}: 0.1em;
    @include fontSetup(12px, 16.8px, 400);
    letter-spacing: -0.01em;
    color: var(--grey-700);
  }

  &--code {
    @include fontSetup(14px, 20px, 400, false);
    background-color: var(--grey-100);
    color: var(--grey-700);
    font-family: $font-mono;
    padding: 0.25em;
    word-break: break-word;

    a & {
      color: $anchor-color--default;
    }

    a:hover &,
    a:focus & {
      color: $anchor-color--hover;
    }

    a:visited & {
      color: $anchor-color--visited;
    }
  }

  &--dt {
    @extend %type--eyebrow;
    margin-left: 1em;
  }

  &--dd {
    margin-left: 2em;
    margin-top: 0;

    + dt,
    + .type--dt {
      margin-top: 0.5em;
    }
  }

  &--kbd {
    background-color: var(--grey-100);
    border-radius: pxRem(3px);
    box-shadow: 1px 1px 1px var(--grey-700);
    display: inline-block;
    font-family: $font-mono;
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: pxRem(1px);
    margin: 0 0.125em;
    padding: 0 0.5em;
    text-rendering: optimizeLegibility;
    text-transform: lowercase;
    vertical-align: text-bottom;
  }

  &--list {
    margin-left: 2em;
    max-width: calc(100% - 4em);
  }

  &--list-item {
    margin-top: 0.5em;
  }
}
