@use 'sass:math';

[data-theme='phosphor'] %type {
  &--header {
    color: var(--black);
  }

  &--mega {
    font-family: $font-mono;
  }

  &--h1 {
    font-family: $font-mono;
  }

  &--h2 {
    font-family: $font-mono;
  }

  &--h3 {
    font-family: $font-mono;
  }

  &--h4 {
    font-family: $font-mono;
  }

  &--h5 {
    font-family: $font-mono;
  }

  &--h6 {
    font-family: $font-mono;
  }

  &--base {
    font-family: $font-mono;
  }

  &--large {
    font-family: $font-mono;
  }

  &--small {
    font-family: $font-mono;
  }

  &--quote {
    font-family: $font-mono;
  }

  &--eyebrow {
    font-family: $font-mono;
  }

  &--label {
    font-family: $font-mono;
  }

  &--caption {
    font-family: $font-mono;
  }

  &--code {
    a & {
      color: var(--blue-850);
    }

    a:hover &,
    a:focus & {
      color: var(--blue-850);
    }

    a:visited & {
      color: var(--blue-850);
    }
  }
}
