%type {
  $bkpt-type--fablet: 744px;
  $bkpt-type--tablet: 1140px;
  $bkpt-type--desktop: 1600px;

  &--header {
    color: var(--black);
    text-rendering: optimizeLegibility;
  }

  // TODO: scaling intermediate font sizes/line-heights based off TBD anchor points: h1-h6, eyebrow
  &--mega {
    @include flexFont((36px 50.4px), (50px, 61.8px), (64px 73.3px));
    letter-spacing: -0.01em;
    font-family: $font-google-sans;
  }

  &--h1 {
    @extend %type--header;

    @include flexFont((28px 39px), (40px 54px), (48px 64px), 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--tablet) {
      letter-spacing: -0.02em;
    }
  }

  &--h2 {
    @extend %type--header;

    @include flexFont((24px 34px), (40px 48px), (38px 44px), 400);
    letter-spacing: -0.02em;
    font-family: $font-google-sans;

    @include mq($bkpt-type--tablet) {
      letter-spacing: -0.02em;
    }
  }
  
  &--h2-grow-h3 {
    @extend %type--header;

    @include flexFont((24px 34px), (24px 34px), (30px 39px), 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;
  }

  &--h3 {
    @extend %type--header;

    @include flexFont((20px 28px), (32px 40px), (30px 39px), 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;
  }

  &--h4 {
    @extend %type--header;

    @include flexFont((16px 22px), (28px 36px), (22px 31px), 400);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;
  }

  &--h5 {
    @extend %type--header;

    @include flexFont((12px 17px), (20px 28px), (18px 21px), 500);
    letter-spacing: -0.01em;
    font-family: $font-google-sans;
  }

  &--h6 {
    @extend %type--header;

    @include flexFont((14px 24px), (16px 28px), (16px 28px), 500);
    font-family: $font-google-sans;
  }

  &--base {
    @include fontSetup(16px, 24px, 400);
    letter-spacing: -0.01em;
    color: var(--grey-700);
    font-family: $font-google-sans;
  }

  &--large {
    @extend %type--base;

    @include fontSetup(18px, 27px, 400);
    letter-spacing: -0.01em;
  }

  &--small {
    @extend %type--base;

    @include fontSetup(12px, 16px, 400);
  }

  &--quote {
    @include fontSetup(20px, 28px, 500);
    color: var(--grey-700);
    font-family: $font-google-sans;
  }

  &--eyebrow {
    @extend %type--header;

    @include flexFont((12px 14px), (12px 14px), (12px 14px), 500);
    display: inline-block;
    font-family: $font-google-sans;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    @include mq($bkpt-type--tablet) {
      letter-spacing: 0.01em;
    }
  }

  &--label {
    @include fontSetup(11px, 16px, 600);
    color: var(--grey-900);
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
  }

  &--revert {
    text-transform: none;
  }

  &--caption {
    #{--icon-offset}: 0.1em;
    @include fontSetup(12px, 17px, 400);
    letter-spacing: -0.01em;
    color: var(--grey-700);
  }

  &--code {
    @include fontSetup(14px, 20px, 400, false);
    background-color: var(--grey-100);
    color: var(--grey-700);
    font-family: $font-mono;
    padding: 0.25em;
    word-break: break-word;

    a & {
      color: $anchor-color--default;
    }

    a:hover &,
    a:focus & {
      color: $anchor-color--hover;
    }

    a:visited & {
      color: $anchor-color--visited;
    }
  }

  &--dt {
    @extend %type--eyebrow;
    margin-left: 1em;
  }

  &--dd {
    margin-left: 2em;
    margin-top: 0;

    + dt,
    + .type--dt {
      margin-top: 0.5em;
    }
  }

  &--kbd {
    background-color: var(--grey-100);
    border-radius: pxRem(3px);
    box-shadow: 1px 1px 1px var(--grey-700);
    display: inline-block;
    font-family: $font-mono;
    font-size: 0.8em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: pxRem(1px);
    margin: 0 0.125em;
    padding: 0 0.5em;
    text-rendering: optimizeLegibility;
    text-transform: lowercase;
    vertical-align: text-bottom;
  }

  &--list {
    margin-left: 2em;
    max-width: calc(100% - 4em);
  }

  &--list-item {
    margin-top: 0.5em;
  }
}
