// Site Header

.header {
  border: 2px solid var(--phosphor-green);

  &__cta {
    border: 1px solid var(--phosphor-gray);
    border-left: 2px solid var(--phosphor-green);
  }

  &__menu-icon {
    fill: var(--phosphor-green);
  }
}
