// Navigation Styling
// This is pretty complex as we have two almost entirely separate sets of styling represented here

.nav {
  &__link {
    @include minLangMQ($bkpt-map--header--large) {
      &:hover,
      &:focus {
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }

      &[aria-expanded='true'] {
        &::after {
          border-color: transparent transparent var(--phosphor-green);
        }

        &::before {
          border-color: transparent transparent var(--phosphor-green);
        }
      }
    }
  }

  &__secondary {
    border: solid 2px var(--phosphor-green);
    // margin: 0 20px;

    @include minLangMQ($bkpt-map--header--large) {
      margin: 0 10px;
      width: calc(100vw - 40px);
    }
  }
}
