// Styling for Subnav component
.subnav {
  &--expand {
    @include mq($bkpt-tech-details--2-cols) {
      fill: var(--phosphor-green);
    }
  }

  &__link {
    &[data-active] {
      &::after {
        background-color: var(--phosphor-gray);
        border-bottom: solid 2px var(--phosphor-green);
        border-right: solid 2px var(--phosphor-green);
        border-top: solid 2px var(--phosphor-green);
      }
    }
  }

  &__title {
    color: var(--phosphor-gray);
    width: inherit;

    @include mq($bkpt-tech-details--2-cols) {
      color: var(--phosphor-green);
    }
  }
}
