.a11y {
  &--hidden {
    display: none;
  }

  &--skip-link {
    @include visuallyHidden;
    background: var(--white);
    border-bottom: 1px solid var(--grey-300);
    left: 0;
    padding: 0.25rem 0.5rem;
    z-index: 7;

    &:focus {
      clip: unset;
      clip-path: unset;
      height: auto;
      text-align: center;
      width: 100%;
    }
  }
}
