.cta {
  @extend %cta;

  &__wrapper {
    text-decoration: none;
  }

  &--left-icon {
    @extend %cta--left-icon;
  }

  &--right-icon {
    @extend %cta--right-icon;
  }

  &--high {
    @extend %cta--high;
  }

  &--medium {
    @extend %cta--medium;
  }

  &--medium,
  &--high {
    &:has(.icon--arrow-forward) {
      display: grid;
      grid-template-columns: 1fr 1rem;
      gap: 0.5rem;
    }
    &:has(.icon--arrow-back) {
      display: grid;
      grid-template-columns: 1rem 1fr;
      gap: 0.5rem;
    }
  }

  &--low {
    @extend %cta--low;
  }

  &--transparent {
    @extend %cta--transparent;
  }

  &--link {
    @extend %cta--link;
    color: var(--cta-color, var(--blue-700));
  }

  &--back {
    @extend %cta--back;
  }
}
