@use 'sass:math';

.banner-interstitial {
  --primary-blue: #1a7236;
  --secondary-blue: var(--white);
  --primary-red: #80db7a;
  --primary-yellow: #4bad4b;

  &__inner {
    border: solid 2px var(--blue-850);
  }

  &__eyebrow,
  &__title,
  &__copy {
    color: var(--grey-850);
  }
}
