// Styles for call-out component.

.call-out {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 65ch;
  text-align: center;

  > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .phosphor & {
    &__heading,
    &__body {
      color: var(--blue-850);
    }
  }
}
