// Styles for call-out component.

.call-out {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: pxRem(550px);
  text-align: center;

  > :not(:last-child) {
    margin-bottom: pxRem(20px);
  }

  .wrapper__background--dark & {
    .type--h4,
    .type {
      color: var(--white);
    }
  }
}
