@use 'sass:math';

.card-study {
  $bkpt-fablet: 420px;
  $bkpt-tablet: 744px;
  $bkpt-desktop: 1140px;
  $bkpt-desktop-lg: 1440px;
  border-radius: pxRem(10px);
  display: grid;
  grid-template-rows: min-content auto;
  overflow: hidden;

  position: relative;

  @include mq($bkpt-desktop) {
    grid-template: auto / fluid(pxRem($bkpt-desktop), pxRem($bkpt-desktop-lg), pxRem(240px), pxRem(294px)) 1fr;
  }

  &,
  &__tile {
    background-color: var(--white);
  }

  &__media {
    aspect-ratio: 2 / 1;
    height: 100%;
    object-fit: cover;
  }

  &__tile {
    display: grid;
    grid-template: max-content / pxRem(32px) auto pxRem(32px);
    height: 100%;
    padding-bottom: pxRem(32px);

    @include mq(0 419px) {
      text-align: center;
    }

    @include mq($bkpt-fablet) {
      grid-template-columns: pxRem(24px) auto pxRem(24px);
    }

    @include mq($bkpt-desktop) {
      grid-template-columns: pxRem(24px) auto pxRem(20px);
      padding-bottom: pxRem(32px);
    }

    > * {
      grid-column: 2;
    }
  }

  &__tile-logo {
    @include elevation(2);
    border-radius: pxRem(10px);
    display: none;
    height: pxRem(60px);
    margin: 0 auto;
    width: pxRem(60px);
  }

  &__tile-eyebrow {
    margin-top: fluid(pxRem(375px), pxRem($bkpt-fablet), pxRem(32px), pxRem(35px));
  }

  &__tile-title {
    margin-top: pxRem(8px);

    @include mq($bkpt-fablet) {
      margin-top: fluid(pxRem(430px), pxRem($bkpt-tablet), pxRem(8px), pxRem(16px));
    }
  }

  &__tile-cta {
    align-self: flex-end;
    margin: pxRem(24px) auto 0;

    @include mq($bkpt-fablet) {
      margin: pxRem(24px) auto 0 0;
    }
  }

  &:first-child {
    @include mq($bkpt-tablet) {
      grid-column: 1 / 3;
      grid-template: auto / auto fluid(pxRem($bkpt-tablet), pxRem($bkpt-desktop), pxRem(338px), pxRem(370px));
    }
    @include mq($bkpt-desktop) {
      grid-template-columns: auto fluid(pxRem($bkpt-desktop), pxRem($bkpt-desktop-lg), pxRem(370px), pxRem(467px));
    }
    @include mq($bkpt-desktop-lg) {
      grid-template: auto / auto;
      padding: pxRem(98px) 0;
    }
  }

  &:first-child & {
    &__media {
      aspect-ratio: 327 / 284;

      @include mq($bkpt-tablet) {
        aspect-ratio: 65 / 46;
      }

      @include mq($bkpt-desktop-lg) {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__tile {
      position: relative;
      text-align: center;

      @include mq($bkpt-tablet) {
        align-self: center;
        height: auto;
        margin-left: auto;
        padding: pxRem(46px) 0;
        text-align: center;
      }

      @include mq($bkpt-desktop-lg) {
        border-radius: pxRem(10px);
        grid-template-columns: auto pxRem(345px) auto;
        margin-right: pxRem(118px);
        padding: pxRem(68px) 0 pxRem(84px);
        width: pxRem(465px);
      }
    }

    &__tile-logo {
      display: block;

      @include mq(0 743px) {
        transform: translateY(-50%);
      }
    }

    &__tile-eyebrow {
      margin-top: 0;

      @include mq($bkpt-tablet) {
        margin-top: pxRem(30px);
      }
    }

    &__tile-title {
      margin-top: pxRem(18px);
    }

    &__tile-cta {
      @include mq($bkpt-fablet) {
        margin: pxRem(24px) auto 0;
      }

      @include mq($bkpt-tablet) {
        margin: pxRem(48px) auto 0;
      }

      @include mq($bkpt-desktop) {
        margin-top: pxRem(32px);
      }
    }
  }

  &--no-logo:first-child & {
    &__tile-eyebrow {
      margin-top: fluid(pxRem(375px), pxRem($bkpt-fablet), pxRem(32px), pxRem(35px));
    }
  }
}
