.case-studies {
  &__header,
  &__footer {
    text-align: center;
  }

  &__subtitle {
    margin-top: pxRem(8px);
  }

  &__content {
    display: grid;
    grid-gap: fluid(pxRem(1140px), pxRem(1440px), pxRem(20px), pxRem(45px)) pxRem(20px);
    margin-top: pxRem(64px);
    
    @include mq(744px) {
      grid-template: auto / repeat(2, 1fr);
    }
  }

  &__footer {
    margin-top: fluid(pxRem(420px), pxRem(1140px), pxRem(48px), pxRem(56px));

    @include mq(1140px) {
      margin-top: fluid(pxRem(1140px), pxRem(1440px), pxRem(56px), pxRem(64px));
    }
  }

  &__cta {
    display: inline-flex;
  }
}