[data-theme='phosphor'] {
  @each $c, $v in $phosphor-colors {
    $name: '--#{$c}';
    #{$name}: #{$v};
  }

  $theming-colors: (
    'primary-blue': map-get($phosphor-colors, 'blue-650'),
    'primary-green': map-get($phosphor-colors, 'green-450'),
    'primary-yellow': map-get($phosphor-colors, 'yellow-450'),
    'primary-red': map-get($phosphor-colors, 'red-650'),
    'secondary-blue': map-get($phosphor-colors, 'blue-850'),
    'secondary-green': map-get($phosphor-colors, 'green-850'),
    'secondary-yellow': map-get($phosphor-colors, 'yellow-750'),
    'secondary-red': map-get($phosphor-colors, 'red-750'),
    'tertiary-blue': map-get($phosphor-colors, 'blue-250'),
    'tertiary-green': map-get($phosphor-colors, 'green-250'),
    'tertiary-yellow': map-get($phosphor-colors, 'yellow-250'),
    'tertiary-red': map-get($phosphor-colors, 'red-250'),
    'black': map-get($phosphor-colors, 'grey-900'),
    'white': map-get($phosphor-colors, 'grey-50'),
  );

  @each $c, $v in $theming-colors {
    $name: '--#{$c}';
    #{$name}: #{$v};
  }
}
