.community-quotes {
  $decorators: (
    'primary-s': 5.625rem,
    'primary-r': 12.1vw,
    'primary-l': 10rem,
    'secondary-s': 4rem,
    'secondary-r': 8.65vw,
    'secondary-l': 8.5625rem,
  );

  $headshots-s: pxRem(220px);
  $headshots-r: 21.05vw;

  $max-width: pxRem(345px);
  $middle-headshot-max: pxRem(280px);
  $scale-max: 1600px;

  $content-size-clamp: clamp($headshots-s, $headshots-r, $max-width);
  $decorator-primary-clamp: clamp(map-get($decorators, 'primary-s'), map-get($decorators, 'primary-r'), map-get($decorators, 'primary-l'));
  $decorator-secondary-clamp: clamp(map-get($decorators, 'secondary-s'), map-get($decorators, 'secondary-r'), map-get($decorators, 'secondary-l'));

  $grid-2-col: 505px;
  $grid-3-col: 769px;
  $clamp-check: clamp(1px, 1vw, 2px);

  &__title,
  &__subtitle {
    margin-left: auto;
    margin-right: auto;
  }

  &__header {
    text-align: center;
  }

  &__title {
    max-width: 24ch;
  }

  &__subtitle {
    color: var(--grey-700);
    margin-top: 1rem;
    max-width: 32ch;

    @supports (margin-top: clamp(1px, 1vw, 2px)) {
      margin-top: clamp(0.625rem, 2.66vw, 1rem);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 1.25rem;
    justify-content: center;
    margin-top: 4.5rem;
    padding: 0;

    @include mq($grid-2-col) {
      justify-content: space-between;
    }
  }

  &__item {
    align-content: flex-start;
    display: flex;
    flex: 1 0 20ch;
    flex-flow: row wrap;
    justify-content: center;
    max-width: $max-width;

    @include mq($grid-3-col) {
      justify-content: flex-start;
    }

    &:first-of-type {
      @include mq($grid-3-col) {
        margin-right: auto;
      }
    }

    &:last-of-type {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image,
  &__decorators {
    border-radius: 50%;
  }

  &__decorator {
    $scale-range: ($grid-3-col $scale-max);
    display: none;

    @include mq($grid-3-col) {
      display: block;
    }

    &:first-of-type {
      height: map-get($decorators, 'primary-s');
      width: map-get($decorators, 'primary-s');

      @supports (width: $clamp-check) {
        height: $decorator-primary-clamp;
        width: $decorator-primary-clamp;
      }

      @include mq($grid-3-col) {
        @supports (width: $clamp-check) {
          margin-bottom: generateScaling($scale-range, (80px 32px));
          margin-left: generateScaling($scale-range, (0 -60px));
          margin-top: generateScaling($scale-range, (0 70px));
        }
      }
    }

    &:nth-of-type(2) {
      height: map-get($decorators, 'secondary-s');
      margin: 0 auto 2.25rem;
      width: map-get($decorators, 'secondary-s');

      @supports (width: $clamp-check) {
        height: $decorator-secondary-clamp;
        width: $decorator-secondary-clamp;
      }

      @include mq($grid-3-col) {
        align-self: flex-end;
        margin-bottom: 2rem;

        @supports (margin-bottom: $clamp-check) {
          margin-bottom: generateScaling($scale-range, (32px -24px));
          margin-right: generateScaling((1240px $scale-max), (0 -76px));
        }
      }
    }
  }

  &__image {
    height: $headshots-s;
    object-fit: cover;
    width: $headshots-s;

    @supports (width: $clamp-check) {
      height: $content-size-clamp;
      width: $content-size-clamp;
    }
  }

  &__caption {
    margin-top: 1.5rem;
    text-align: center;

    @supports (max-width: $clamp-check) {
      margin-top: clamp(1rem, 4.266vw, 2rem);
    }

    @include mq($grid-3-col) {
      text-align: start;

      @supports not (text-align: start) {
        [dir='ltr'] & {
          text-align: left;
        }

        [dir='rtl'] & {
          text-align: right;
        }
      }
    }
  }

  &__citation {
    color: var(--grey-700);
    display: inline-block;
    font-style: normal;
    margin-top: 0.75rem;

    @supports (margin-top: $clamp-check) {
      margin-top: clamp(0.5rem, 2.66vw, 0.875rem);
    }
  }

  &__author {
    font-weight: $font-weight-bold;
  }

  &__item:nth-of-type(2) & {
    &__image {
      @include mq($grid-3-col) {
        max-height: $middle-headshot-max;
        max-width: $middle-headshot-max;
      }
    }
  }
}
