.community-quote {
  $headshots-s: pxRem(220px);
  $headshots-r: 21.05vw;
  $max-width: pxRem(345px);
  $middle-headshot-max: pxRem(280px);
  $content-size-clamp: clamp($headshots-s, $headshots-r, $max-width);

  $decorators: (
    'primary-s': 5.625rem,
    'primary-r': 12.1vw,
    'primary-l': 10rem,
    'secondary-s': 4rem,
    'secondary-r': 8.65vw,
    'secondary-l': 8.5625rem,
  );

  $decorator-primary-clamp: clamp(map-get($decorators, 'primary-s'), map-get($decorators, 'primary-r'), map-get($decorators, 'primary-l'));
  $decorator-secondary-clamp: clamp(map-get($decorators, 'secondary-s'), map-get($decorators, 'secondary-r'), map-get($decorators, 'secondary-l'));

  $grid-2-col: 501px 740px;
  $grid-3-col: 741px;
  $clamp-check: clamp(1px, 1vw, 2px);

  align-content: start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: $max-width;

  @include mq($grid-3-col) {
    justify-content: flex-start;
  }

  &:nth-of-type(2) {
    @include mq($grid-2-col) {
      align-self: center;
      grid-area: 1 / 2 / 3;
    }
  }

  &:last-of-type {
    @include mq($grid-3-col) {
      justify-self: flex-start;
    }
  }

  &__image,
  &__decorators {
    border-radius: 50%;
  }

  &__decorator {
    display: none;

    @include mq(501px) {
      display: block;
    }

    &:first-of-type {
      height: map-get($decorators, 'primary-s');
      transform: translateY(-2.5rem);
      width: map-get($decorators, 'primary-s');

      @supports (width: $clamp-check) {
        height: $decorator-primary-clamp;
        width: $decorator-primary-clamp;
      }

      @include mq($grid-2-col) {
        margin-left: auto;
      }

      @include mq(1213px) {
        transform: translate(-33%, -2.5rem);
      }
    }

    &:nth-of-type(2) {
      height: map-get($decorators, 'secondary-s');
      margin-bottom: 2.25rem;
      margin-left: auto;
      width: map-get($decorators, 'secondary-s');

      @supports (width: $clamp-check) {
        height: $decorator-secondary-clamp;
        width: $decorator-secondary-clamp;
      }

      @include mq(1425px) {
        align-self: flex-end;
        margin-bottom: -1.5rem;
        transform: translateX(50%);
      }
    }
  }

  &__image {
    height: $headshots-s;
    object-fit: cover;
    width: $headshots-s;

    @supports (width: $clamp-check) {
      height: $content-size-clamp;
      width: $content-size-clamp;
    }
  }

  &__caption {
    margin-top: 1.5rem;
    max-width: $headshots-s;
    text-align: center;

    @supports (max-width: $clamp-check) {
      margin-top: clamp(1rem, 4.266vw, 2rem);
      max-width: $content-size-clamp;
    }

    @include mq($grid-3-col) {
      text-align: left;

      [dir='rtl'] & {
        text-align: right;
      }
    }
  }

  &__citation {
    display: inline-block;
    font-style: normal;
    margin-top: 1rem;

    @supports (margin-top: $clamp-check) {
      margin-top: clamp(0.625rem, 2.66vw, 1.5rem);
    }
  }

  &:nth-of-type(2) & {
    &__image {
      @include mq($grid-3-col) {
        max-height: $middle-headshot-max;
        max-width: $middle-headshot-max;
      }
    }
  }
}
