// Styling for Component Preview
.component-preview {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--grey-300);
    padding-bottom: 2rem;
  }

  & + & {
    margin-top: 1.5rem;
  }

  &__args {
    margin: 1rem 0;
  }

  // This modifier acts as a utility for components that need to be placed inside a container with max-width.
  &--desktop-max-width {
    margin: 0 auto;
    // This value was selected to be used on the style-guide page, it doesn't represent the actual value used on any other page on the site.
    max-width: pxRem(1440px);
  }
}
