// Styles for date-time label.

.date-time {
  margin-bottom: 2rem;

  &__label {
    color: var(--grey-500);
    display: block;
    margin-bottom: 0.5rem;
  }

  &--inline {
    margin-bottom: 0;
  }

  &--inline & {
    &__label {
      display: inline;
      margin-right: 0.5rem;

      @supports (margin-right: clamp(0.5rem, 1vw, 0.75rem)) {
        margin-right: clamp(0.5rem, 1vw, 0.75rem);
      }
    }
  }
}
