// Styles for embeded content, especially video, from Markdown
// These classes aren't controlled by us, so we need to follow their naming conventions

.embed-responsive {
  &-16by9 {
    // TODO: Add @supports PostCSS plugin to support iOS < 15
    aspect-ratio: 16 / 9;
  }
}
