// Styles for the external community with logo.
.external-community {
  $logo-size: pxRem(48px);

  flex: 1 0 pxRem(102px);
  max-width: pxRem(102px);
  text-decoration: none;

  &__liner {
    align-items: center;
    border: 1px solid var(--grey-200);
    border-radius: pxRem(10px);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-self: center;
    padding: 1rem 0.25ch;
    text-align: center;
  }

  &__logo {
    height: $logo-size;
    margin-bottom: 1rem;
    max-height: initial;
    width: $logo-size;
  }

  &__copy-wrapper {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-size: pxEm(14px);
    line-height: 1.3;

    strong {
      display: block;
      margin-bottom: pxRem(10px);
    }
  }
}
