// Styles for feature story component.
@use 'sass:math';

.featured-story {
  $content-max-width: 100rem;
  $story-query: 698px;

  position: relative;
  width: 100%;

  &__wrapper {
    @include mq($story-query) {
      align-items: center;
      display: flex;
      height: 100%;
      margin: 0 auto;
      max-width: $content-max-width;
      padding-bottom: clamp(2.25rem, 80vw, 3rem);
      padding-top: clamp(2.25rem, 80vw, 3rem);
      position: relative;
    }
  }

  &__container {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    border-radius: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: -2.5rem;
    padding: 2.5rem 2.25rem;
    position: relative;
    text-align: center;
    z-index: 1;

    @include mq($story-query) {
      margin-top: 0;
      max-width: 44ch;
      text-align: left;
    }
  }

  &__logo {
    background-color: var(--white);
    border: 1px solid var(--grey-150);
    border-radius: 0.3125rem;
    filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.2));
    margin: 0 auto 1rem;
    padding: 0.5rem;
    width: clamp(3rem, 100vw, 3.75rem);

    @include mq($story-query) {
      margin-left: unset;
      margin-right: unset;
    }

    &--image {
      display: block;
    }
  }

  &__eyebrow {
    color: var(--grey-700);
    margin-bottom: 0.75rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__image {
    display: block;
    height: clamp(10rem, 60vw, 30rem);
    object-fit: cover;
    object-position: top;
    width: 100%;

    @include mq($story-query) {
      position: absolute;
    }
  }
}
