.featured-case-study {
  // for use in generateScaling(), which accepts px values.
  $spacing-s: 32px;

  $break-feature-col: 690px;
  $break-2-col: 980px;
  $scale-max: 1600px;

  border-radius: 0.625rem;
  display: grid;
  grid-template-rows: min-content;
  overflow: hidden;
  position: relative;

  // When followed by regular study cards, break them to 2 columns.
  @include mq(560px) {
    grid-column: 1 / 3;
  }

  @include mq($break-feature-col) {
    grid-template-columns: 1fr minmax(28ch, 36.2%);
  }

  @include mq($break-2-col) {
    grid-template-columns: 1fr 32.5% 8%;
  }

  &__media {
    aspect-ratio: 327 / 284;
    height: 100%;
    object-fit: cover;

    @include mq($break-feature-col) {
      aspect-ratio: 65 / 46;
    }

    @include mq($break-2-col) {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__tile {
    $margin-range: ($break-2-col $scale-max);
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 0 generateScaling((630px $scale-max), ($spacing-s 56px)) generateScaling($margin-range, ($spacing-s 68px));
    position: relative;
    text-align: center;

    @include mq($break-feature-col) {
      padding-top: generateScaling($margin-range, ($spacing-s 68px));
    }

    @include mq($break-2-col) {
      border-radius: 0.625rem;
      grid-column: 2;
      height: auto;
      justify-self: flex-end;
      margin: generateScaling($margin-range, ($spacing-s 98px)) 0;
    }
  }

  &__tile-logo {
    @include elevation(2);
    border-radius: 0.625rem;
    height: 3.75rem;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 3.75rem;

    @include mq($break-feature-col) {
      transform: none;
    }
  }

  &__tile-eyebrow {
    margin-top: -1rem;

    @include mq($break-feature-col) {
      margin-top: 2rem;
    }
  }

  &__tile-title {
    margin: 1rem 0 0;
  }

  &__tile-cta {
    align-self: center;
    margin-top: generateScaling((430px $scale-max), ($spacing-s 64px));
  }

  &--no-logo & {
    &__tile-eyebrow {
      margin-top: 2rem;
    }
  }
}
