// Styles for feature content component.
// For more information about --shape-circle--size, --shape-circle--transform and --shape-color check background.scss

.featured-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__copy-wrapper {
    flex: 1 1 35ch;
    margin-bottom: 1rem;
    max-width: 40ch;
    position: relative;
    z-index: 1;
  }

  &__eyebrow {
    margin-bottom: 0.5rem;
  }

  &__title,
  &__copy {
    margin-bottom: 1rem;
  }

  &__ilustrations-wrapper {
    flex: 1 1 10%;
    min-width: 55%;
    position: relative;
    transform: translateX(25%);
    z-index: 0;

    .animation--active &.animation__lift-fade--start {
      transform: translateX(25%) translateY(1.5rem);
    }

    .animation--active &.animation__lift-fade--end {
      transform: translateX(25%);
    }
  }

  &__image-wrapper {
    --circle-type: featured;
    border-image-outset: 300px;
    border-image-slice: 0 fill;
    border-image-source: paint(circles);

    img {
      display: block;
    }

    > img:not(:first-of-type) {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}
