// Styles for feature content component.
// For more information about --shape-circle--size, --shape-circle--transform and --shape-color check background.scss

.featured-content {
  position: relative;
  width: 100%;

  @include mq($bkpt-articles--2-cols) {
    height: 40vh;
    min-height: 30rem;
  }

  &__wrapper {
    @include mq($bkpt-articles--2-cols) {
      align-items: center;
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &__container {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--grey-300);
    border-radius: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: -2.5rem;
    position: relative;

    @include mq($bkpt-articles--2-cols) {
      margin-top: 0;
    }
  }

  &__copy-wrapper {
    padding: 2.5rem 2.25rem;
    position: relative;
    text-align: center;
    z-index: 1;

    @include mq($bkpt-articles--2-cols) {
      max-width: 44ch;
      text-align: left;
    }
  }

  &__eyebrow {
    color: var(--grey-700);
    margin-bottom: 0.75rem;
  }

  &__title,
  &__copy {
    margin-bottom: 1rem;
  }

  &__ilustrations-wrapper {
    flex: 1 1 10%;
    min-width: 55%;
    position: relative;
    transform: translateX(25%);
    z-index: 0;

    .animation--active &.animation__lift-fade--start {
      transform: translateX(25%) translateY(1.5rem);
    }

    .animation--active &.animation__lift-fade--end {
      transform: translateX(25%);
    }
  }

  &__image {
    display: block;
    height: 36vh;
    max-height: 15rem;
    min-height: 10vh;
    object-fit: cover;

    @include mq($bkpt-articles--2-cols) {
      height: 100%;
      max-height: unset;
    }
  }
}
