// Site Header

.header {
  border: solid var(--blue-850) 2px;
  margin: 20px;
  width: calc(100vw - 40px);

  &__cta {
    border: 1px solid var(--grey-50);
    border-left: 2px solid var(--blue-850);
  }
}
