// Styles for the hero, copy and images stacked on mobile, side by side on large.
@use 'sass:math';

.hero-article {
  $content-max-width: 100rem;

  overflow: hidden;
  position: relative;
  width: 100%;

  &__back {
    background-color: var(--white);
    margin: 0 auto;
    max-width: $content-max-width;
    padding-bottom: clamp(1rem, 6vw, 2.5rem);
    padding-top: clamp(1rem, 6vw, 2rem);

    @include mq(750px) {
      background-color: transparent;
      padding-bottom: 0;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: $content-max-width;
    padding: 2.5rem 0 clamp(3rem, 6vw, 4.5rem);
    position: relative;
  }

  &__images {
    align-items: center;
    display: flex;
    height: 30vh;
    justify-content: center;
    margin-top: -20vh;
    position: relative;

    @include mq(750px) {
      bottom: 0;
      height: 100%;
      margin-top: unset;
      position: absolute;
      right: 0;
      width: 58vw;
      z-index: 0;
    }

    &--background-pattern {
      display: block;
      height: 100%;
      margin-left: auto;

      @include mq(750px) {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &__content-wrapper {
    max-width: clamp(35ch, 50vw, 70ch);
  }

  &__icon {
    height: 2rem;
    margin-inline-end: 0.625rem;
    width: 2rem;
  }

  &__eyebrow {
    margin-bottom: 1rem;
  }

  &__title {
    margin-top: 1rem;
  }

  &__link {
    color: var(--secondary-blue);
    margin-top: 1.5rem;
  }
}
