// Styles for the hero 50 - 50, copy and images stacked on mobile, side by side on large.
@use 'sass:math';

.hero {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  &__background {
    &--games {
      background-color: var(--pink-25);
    }

    &--web {
      background-color: var(--blue-30);
    }

    &--base-os {
      background-color: var(--yellow-75);
    }

    &--android {
      background-color: var(--green-25);
    }

    &--event {
      background-color: var(--yellow-80);
    }

    &--announcement {
      background-color: var(--red-25);
    }

    &--leader-s-corner {
      background-color: var(--purple-75);
    }
  }

  &__eyebrow {
    margin-bottom: 1rem;
  }

  &__title,
  &__copy {
    margin-bottom: 1rem;
  }

  &__link {
    color: var(--secondary-blue);
    margin-top: 1.5rem;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: initial;
  }
}
