// Styles for the animated hero.

.hero-animated {
  $scale-max: 1600px;
  $flex-row: 788px;
  $scale-range: ($flex-row $scale-max);
  column-gap: 2.5rem;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 1.25rem;

  &__content {
    align-self: center;
    margin: pxRem(90px) auto 0;
    max-width: 50ch;
    text-align: center;

    // Set flex after the content's width is already greater than flex-basis
    @include mq(430px) {
      flex: 1 0 pxRem(280px);
    }

    @include mq($flex-row) {
      margin-left: generateScaling($scale-range, (0 120px));
      margin-top: 0;
      text-align: revert;
    }
  }

  &__heading,
  &__copy {
    color: var(--white);
  }

  &__heading--accent {
    color: var(--tertiary-blue);
  }

  &__copy {
    margin: 0.75rem auto 0;
    max-width: 38ch;

    @include mq($flex-row) {
      margin-left: 0;
      margin-top: generateScaling($scale-range, (20px 48px));
    }
  }

  &__cta {
    display: inline-flex;
    margin-top: generateScaling($scale-range, (20px 32px));
  }

  &__wrapper {
    display: grid;
    flex: 1 1 pxRem(380px);
    margin: 0 auto;
    max-width: pxRem(768px);

    @include mq($flex-row) {
      transform: scale(1.25);
    }
  }

  &__background,
  &__animation {
    grid-column: 1;
    grid-row: 1;
  }

  &__animation-item {
    animation: 0.5s ease-in-out 0.25s backwards hero-animated__page-load;
    display: block;
    height: 100%;
    width: 100%;

    &--hide {
      opacity: 0;
    }
  }

  // Animation setup
  @keyframes hero-animated__page-load {
    from {
      opacity: 0;
      transform: translateY(1.5rem);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
}
