// Styles for the hero 50 - 50, copy and images stacked on mobile, side by side on large.
@use 'sass:math';

.hero {
  $max-width: 1440px;
  $scaler: math.div(math.div($max-width, 100), 1vw);

  $inline-spacing-s: 1.5rem;
  $inline-spacing-l: 5rem;
  $spacing: clamp($inline-spacing-s, (math.div($inline-spacing-l, 1rem) * math.div(16px, $scaler)), $inline-spacing-l);

  align-items: center;
  background-color: var(--yellow-50);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));

  &__copy-wrapper {
    &--padded {
      padding: $spacing;
    }
  }

  &__eyebrow {
    margin-bottom: 1rem;
  }

  &__title,
  &__copy {
    margin-bottom: 1rem;
  }

  &__link {
    display: inline-block;
    margin-top: 1.5rem;
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: initial;
  }
}
