// Styles for the hero, copy and images stacked on mobile, side by side on large.
@use 'sass:math';

.hero {
  $content-max-width: 100rem;

  overflow: hidden;
  position: relative;
  width: 100%;

  &__content {
    margin: 0 auto;
    max-width: $content-max-width;
    padding: clamp(2rem, 6vw, 3rem) 0;
    position: relative;
  }

  &__images {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    @include mq(750px) {
      bottom: 0;
      height: 100%;
      position: absolute;
      right: 0;
      width: 50vw;
      z-index: 0;
    }

    &--image {
      height: 20vh;
      position: absolute;
      right: -3rem;
      width: auto;
      z-index: 2;

      @include mq(750px) {
        object-fit: contain;
        position: relative;
        right: unset;
        width: 30vw;
      }
    }

    &--background-pattern {
      display: block;
      height: 100%;
      margin-left: auto;

      @include mq(750px) {
        bottom: 0;
        position: absolute;
        right: 0;
      }
    }
  }

  &__content-wrapper {
    max-width: clamp(40ch, 50vw, 60ch);
  }

  &__icon {
    height: 2rem;
    margin-inline-end: 0.625rem;
    width: 2rem;
  }

  &__eyebrow {
    margin-bottom: 1rem;
  }

  &__title {
    margin: 1rem 0;
  }

  &__link {
    color: var(--secondary-blue);
    margin-top: 1.5rem;
  }

  &--theme {
    &__m100 {
      --hero-theme-color: var(--white);
      --hero-theme-background: var(--blue-850);
      background-color: var(--hero-theme-background);

      [class*='type'],
      [class*='link'],
      [class*='icon'] {
        color: var(--hero-theme-color);
        fill: var(--hero-theme-color);
      }
    }
  }
}
