// Styles for the item-grid component.
// Breakpoints are fixed, so before reusing it some adjustments may be necessary.
//
// Customizations.
// These values are used when the component uses a background color
// --block-start-padding: Sets the top padding for the component.
// --block-end-padding: Sets the bottom padding for the component.
// --inline-padding: Sets the left and right padding for the component.

.item-grid {
  $bkpt-grid--large: 100ch;
  // We explicitly need the three values here to match the design margin on large resolutions.
  padding: var(--block-start-padding, 0) var(--inline-padding, 0) var(--block-end-padding, 0);
  position: relative;
  z-index: 10;

  &__title,
  &__subtitle,
  &__footer {
    text-align: center;
  }

  &__title {
    margin: 0 auto;
    max-width: 30ch;
    padding: 0 calc(var(--shape-circle--size) / 6);
    position: relative;
    z-index: 3;
  }

  &__subtitle {
    color: var(--grey-700);
    margin-top: 1rem;

    @supports (margin-top: clamp(1px, 1vw, 2px)) {
      margin-top: clamp(0.625rem, 2.66vw, 1rem);
    }
  }

  &__content {
    display: grid;
    gap: 2.5rem 1.5rem;
    margin-top: 2.5rem;

    @include mq(430px) {
      grid-template-columns: repeat(auto-fit, minmax(pxRem(300px), 1fr));
    }
  }

  &__footer {
    margin-top: 3rem;

    .cta {
      display: inline-flex;
    }
  }

  &--posts & {
    &__content {
      grid-template-columns: repeat(auto-fit, minmax(pxRem(325px), 1fr));
      justify-items: center;
    }
  }

  &--community & {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      row-gap: 1.25rem;
    }
  }

  &--icon-card & {
    &__content {
      grid-gap: pxRem(40px) 10%;
      grid-template-columns: 1fr;
      @include mq($bkpt-grid--large) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &--subnav & {
    &__content {
      gap: 1.875rem 1.25rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      justify-content: center;
    }
  }

  &--video & {
    &__content {
      gap: 5rem 1.25rem;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));

      @include mq(602px) {
        row-gap: 2.75rem;
      }
    }
  }

  &--routing & {
    &__content {
      gap: 3rem 1.25rem;
      margin-top: 0;
      padding-top: 3rem;

      @supports (row-gap: clamp(1px, 1vw, 2px)) {
        row-gap: generateScaling((430px 631px), (48px 16px));
      }
    }
  }

  &--circled &__content {
    border-image-outset: 300px;
    border-image-slice: 0 fill;
    border-image-source: paint(circles);
  }
}
