// Styles for the item-grid component.
// Breakpoints are fixed, so before reusing it some adjustments may be necessary.
//
// Customizations.
// These values are used when the component uses a background color
// --block-start-padding: Sets the top padding for the component.
// --block-end-padding: Sets the bottom padding for the component.
// --inline-padding: Sets the left and right padding for the component.

.item-grid {
  $bkpt-grid--large: 100ch;
  // We explicitly need the three values here to match the design margin on large resolutions.
  padding: var(--block-start-padding, 0) var(--inline-padding, 0) var(--block-end-padding, 0);
  position: relative;
  z-index: 10;

  &__title,
  &__subtitle {
    text-align: center;
  }

  &__title {
    margin: 0 auto;
    max-width: pxRem(640px);
    padding: 0 calc(var(--shape-circle--size) / 6);
    position: relative;
    z-index: 3;
  }

  &__subtitle {
    margin-top: 1rem;

    @supports (margin-top: clamp(1px, 1vw, 2px)) {
      margin-top: clamp(0.625rem, 2.66vw, 1rem);
    }
  }

  &__content {
    display: grid;
    grid-gap: pxRem(40px) pxRem(24px);
    margin-top: pxRem(40px);

    @include mq(430px) {
      grid-template-columns: repeat(auto-fit, minmax(pxRem(300px), 1fr));
    }
  }

  &--community & {
    &__content {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &--icon-card & {
    &__content {
      grid-gap: pxRem(40px) 10%;
      grid-template-columns: 1fr;
      @include mq($bkpt-grid--large) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &--subnav & {
    &__content {
      grid-gap: 1.875rem 1.25rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      justify-content: center;
    }
  }

  &--circled &__content {
    border-image-outset: 300px;
    border-image-slice: 0 fill;
    border-image-source: paint(circles);
  }
}
