// Navigation Styling
// This is pretty complex as we have two almost entirely separate sets of styling represented here

.nav {
  $transition-duration: 0.375s;
  $transition-timing: ease-in-out;
  $transition-space: $transition-duration $transition-timing;
  --nav-transition: none;

  @include maxLangMQ($bkpt-map--header--large) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0s $transition-duration, z-index 0s $transition-duration, background-color $transition-space;
    width: 100vw;
    z-index: -1;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  @include minLangMQ($bkpt-map--header--large) {
    grid-column: 2;
    grid-row: 1 / span 1;
    margin-top: 1.25rem;
  }

  &--animated {
    --nav-transition: transform #{$transition-space};

    @media (prefers-reduced-motion: reduce) {
      --nav-transition: none;
    }
  }

  &__link {
    background: unset;
    border: unset;
    cursor: pointer;
    display: inline-block;
    padding: unset;
    position: relative;
    text-decoration: none;
    vertical-align: middle;

    @include maxLangMQ($bkpt-map--header--large) {
      display: flex;
      justify-content: space-between;
      padding: 0.875em 1.25em;
      width: 100%;
    }

    @include minLangMQ($bkpt-map--header--large) {
      &:hover,
      &:focus {
        background-color: var(--grey-50);
        border-radius: 0.25rem;
        box-shadow: 0.625rem 0.625rem var(--grey-50), -0.625rem 0.625rem var(--grey-50), -0.625rem -0.625rem var(--grey-50), 0.625rem -0.625rem var(--grey-50), -0.625rem 0 var(--grey-50), 0.625rem 0 var(--grey-50);
      }

      &:focus {
        box-shadow: 0.625rem 0.625rem var(--grey-50), -0.625rem 0.625rem var(--grey-50), -0.625rem -0.625rem var(--grey-50), 0.625rem -0.625rem var(--grey-50), -0.625rem 0 var(--grey-50), 0.625rem 0 var(--grey-50), 0.75rem 0.75rem var(--blue-600), -0.75rem 0.75rem var(--blue-600), -0.75rem -0.75rem var(--blue-600), 0.75rem -0.75rem var(--blue-600), -0.75rem 0 var(--blue-600), 0.75rem 0 var(--blue-600);
        outline: none;
      }

      &[aria-expanded='true'] {
        &::after {
          border-color: transparent transparent var(--grey-300);
          border-style: solid;
          border-width: 10px;
          content: '';
          display: block;
          height: 0;
          left: calc(50% - 10px);
          position: absolute;
          top: calc(1.8em - 5px);
          width: 0;
          z-index: 101;
        }

        &::before {
          border-color: transparent transparent var(--white);
          border-style: solid;
          border-width: 8px;
          content: '';
          display: block;
          height: 0;
          left: calc(50% - 8px);
          position: absolute;
          top: calc(1.8em);
          width: 0;
          z-index: 102;
        }
      }
    }

    &-icon {
      fill: var(--grey-700);
      pointer-events: none;
    }

    &[aria-expanded='true'] {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &--highlighted {
    @include maxLangMQ($bkpt-map--header--large) {
      background: var(--grey-50);
      border-radius: 0 2rem 2rem 0;
    }

    @include minLangMQ($bkpt-map--header--large) {
      position: relative;

      &::after {
        border-bottom: 2px solid var(--blue-600);
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }

  &__primary {
    list-style: none;
    margin: unset;

    @include maxLangMQ($bkpt-map--header--large) {
      background: var(--white);
      flex-grow: 1;
      max-width: 40ch;
      overflow-x: auto;
      padding-top: 0.875em;
      transform: translateX(-100%);
      transition: var(--nav-transition);
      width: calc(100% - 5em);
    }

    @include minLangMQ($bkpt-map--header--large) {
      display: flex;
      justify-content: center;
    }

    &-hidden {
      visibility: hidden;
    }
  }

  &__close {
    background: none;
    border: 0;
    cursor: pointer;
    order: 2;
    padding: 0;
  }

  &__header {
    background: var(--white);
    border-bottom: 1px solid var(--grey-300);
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: auto 1.5rem;
    max-width: 40ch;
    padding: 1.25em;
    transform: translateX(-100%);
    transition: var(--nav-transition);
    width: calc(100% - 5em);

    @include minLangMQ($bkpt-map--header--large) {
      display: none;
    }
  }

  &__footer {
    max-width: 40ch;
    transform: translateX(-100%);
    transition: var(--nav-transition);
    width: calc(100% - 5em);

    @include minLangMQ($bkpt-map--header--large) {
      display: none;
    }

    &-cta {
      border-radius: 0;
    }
  }

  &__home {
    text-decoration: none;
  }

  &__secondary {
    padding-right: 1.5em;

    @include minLangMQ($bkpt-map--header--large) {
      @include elevation(1);
      background: var(--white);
      border-top: 1px solid var(--grey-300);
      display: flex;
      flex-wrap: wrap;
      left: -0.75rem;
      list-style: none;
      margin: unset;
      padding: 0 calc(4.25rem + 185px);
      padding-right: 1rem;
      position: absolute;
      top: 4rem;
      width: calc(100vw + 0.75rem);
      z-index: 100;

      &-item {
        margin: 0 0.75rem;
        padding: 1.125rem 0;
      }
    }

    &[hidden] {
      display: none;
    }

    &-item {
      padding-left: 1.5rem;
    }
  }

  &__primary-item {
    @include minLangMQ($bkpt-map--header--large) {
      padding-bottom: 1.25rem;

      &:not(.nav--highlighted) {
        position: static;
      }

      &:not(:first-of-type) {
        margin-left: 1.5rem;
      }
    }
  }

  &[aria-expanded='true'] {
    $bkg: var(--grey-900);
    background: $bkg;
    transform: translateX(0%);
    transition: background-color $transition-space;
    z-index: 50;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    .nav__header,
    .nav__primary,
    .nav__footer {
      transform: translateX(0);
    }
  }
}
