.pagination {
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  &__link,
  &__active,
  &__ellipsis,
  &__end {
    color: var(--blue-600);
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    width: 2rem;
  }

  &__link {
    &:hover {
      cursor: pointer;
    }
  }

  &__ellipsis {
    color: var(--grey-700);
  }

  &__icon {
    fill: var(--grey-900);
    width: 1rem;
  }

  &__link,
  &__end {
    &:hover {
      background-color: var(--blue-25);
      border-radius: 50%;
    }
  }

  &__active {
    font-weight: bold;

    &::after {
      border-bottom: 2px solid var(--blue-600);
      content: '';
      display: block;
      margin: pxRem(-7px) auto pxRem(5px);
      width: 1.25rem;
    }
  }
}
