// Styling for making tables responsive
.responsive-table {
  border: 0;

  &,
  thead,
  tbody,
  th,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tbody tr {
    background: var(--white);
    border: 1px solid var(--grey-300);
    margin-bottom: 1rem;

    &:nth-of-type(2n) {
      background: var(--white);
    }
  }

  td {
    border: 0;
    display: grid;
    margin: 0;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-300);
    }

    &::before {
      background-color: var(--blue-600);
      color: var(--white);
      grid-row: 1 / span 1;
    }

    /* stylelint-disable selector-no-qualifying-type */
    &[data-header] {
      &::before {
        align-items: center;
        content: attr(data-header);
        display: flex;
        font-weight: $font-weight-bold;
        margin: -1rem -1rem 1rem;
        padding: 1rem;
      }
      /* stylelint-enable selector-no-qualifying-type */
    }
  }

  &--2-cols {
    // This logically belongs here, not above with the rest of the TD stuff
    /* stylelint-disable no-descending-specificity */
    td {
      /* stylelint-enable no-descending-specificity */
      grid-template-columns: 8rem 1fr;

      &::before {
        grid-column: 1 / span 1;
        grid-row: span 3;
        margin-right: 0.5rem;
      }

      /* stylelint-disable max-nesting-depth, selector-no-qualifying-type */
      &[data-header] {
        &::before {
          margin: -1rem 1rem -1rem -1rem;
        }
      }
      /* stylelint-enable max-nesting-depth, selector-no-qualifying-type */
    }
  }
}
