// Styling for Resources component
.resources {
  padding: 1.5rem 1.75rem 0;
  position: relative;

  @include mq($bkpt-tech-details--2-cols) {
    padding: 2.5rem 0 0;
  }

  &__list {
    list-style: none;
    margin-top: 1.5rem;
  }
}
