// Styles for stories section component.
@use 'sass:math';

.stories-section {
  $max-width: 1160px;

  margin: 0 auto;
  max-width: $max-width;

  &__subtitle {
    color: var(--grey-700);
    margin-top: 0.5rem;
  }
}
