// Styling for Subnav component
.subnav {
  &__link {
    &[data-active] {
      &::after {
        background-color: var(--white);
        border-bottom: solid 2px var(--blue-850);
        border-right: solid 2px var(--blue-850);
        border-top: solid 2px var(--blue-850);
      }
    }
  }
}
