// Styles for switch component.

.switch {
  $circle-diameter: pxRem(20px);
  $transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  $switch-width: $circle-diameter * 1.7;

  align-items: center;
  display: flex;

  &__label {
    line-height: initial;
  }

  &__input {
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: grid;
    margin-left: pxRem(4px);
    width: $switch-width;

    &::before,
    &::after {
      content: '';
      transition: background-color $transition;
    }

    &::before {
      background-color: var(--grey-300);
      border-radius: pxRem(14px);
      display: block;
      grid-column: 1 / span 1;
      grid-row: 1;
      height: $circle-diameter * 0.7;
    }

    // Circle button
    &::after {
      @include elevation(1);
      background-color: var(--white);
      border-radius: 50%;
      display: block;
      grid-column: 1;
      grid-row: 1;
      height: $circle-diameter;
      transition-property: transform, background-color;
      width: $circle-diameter;
    }
  }

  &__input:checked {
    &::before {
      background-color: var(--blue-300);
    }

    &::after {
      background-color: var(--blue-600);
      transform: translateX($switch-width - $circle-diameter);
    }
  }
}
