.theme {
  background-color: var(--hero-theme-background);

  [class*='type'],
  [class*='link'],
  [class*='icon'] {
    color: var(--hero-theme-color);
    fill: var(--hero-theme-color);
  }

  .cta:focus {
    background-color: var(--hero-theme-cta-background);
  }

  &__m100 {
    --hero-theme-color: var(--white);
    --hero-theme-background: var(--blue-850);
    --hero-theme-cta-background: transparent;
  }

  &__io-2022 {
    --hero-theme-color: var(--white);
    --hero-theme-background: var(--green-700);
    --hero-theme-cta-background: transparent;
  }

  &__io-2023 {
    --hero-theme-color: var(--white);
    --hero-theme-background: var(--green-500);
    --hero-theme-cta-background: transparent;
  }

  &__lumafusion {
    --hero-theme-color: var(--white);
    --hero-theme-background: var(--blue-850);
    --hero-theme-cta-background: transparent;

    --center: 97%;
    --offset: 74px;
    --small: 25%;
    --large: calc(25% + 5rem);

    background-image: radial-gradient(circle farthest-corner at var(--center) var(--center), var(--blue-200) var(--small), transparent var(--small)), radial-gradient(circle farthest-corner at calc(var(--center) + var(--offset)) calc(var(--center) + var(--offset)), var(--blue-300) var(--large), transparent var(--large));
  }
}
