.validation-card {
  $transparency: rgba(255, 255, 255, 0.001);
  justify-self: center;
  max-width: pxRem(306px);
  text-align: center;

  &__dt {
    color: var(--black);
    display: inline-block;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1.145;
    margin-bottom: pxRem(26px);
    position: relative;
    text-align: center;
  }

  &__shape {
    --shape-color: var(--yellow-450);
    left: 0;
    position: absolute;
    z-index: -1;
  }

  &--yellow & {
    &__shape {
      --shape-color: var(--yellow-450);
    }
  }

  &--blue & {
    &__shape {
      --shape-color: var(--primary-blue);
    }
  }

  &--green & {
    &__shape {
      // --primary-green
      --shape-color: var(--primary-green);
    }
  }

  &--semicircle & {
    &__shape {
      --circle-radius: 65;
      --circle-offset: 65;
      background-image: paint(circles);
      height: pxRem(65px);
      top: 100%;
      transform: translate(-50%, -0%) rotate(210deg);
      transform-origin: top center;
      width: pxRem(130px);
    }
  }

  &--circle & {
    &__shape {
      --circle-radius: 42.5;
      --circle-offset: 42.5;
      background-image: paint(circles);
      bottom: 0;
      height: pxRem(85px);
      transform: translateX(-50%);
      width: pxRem(85px);
    }
  }

  &--triangle & {
    &__shape {
      background-image: linear-gradient(to bottom left, var(--shape-color), var(--shape-color) 50%, $transparency 50%, $transparency);
      height: pxRem(100px);
      top: 0;
      transform: translate(-50%, -25%) rotate(-15deg);
      transform-origin: bottom right;
      width: pxRem(100px);
    }
  }
}
