.video-card {
  text-decoration: none;

  &__thumbnail-wrapper {
    border-radius: 0.625rem;
    display: grid;
    overflow: hidden;
    position: relative;

    // Use the same aspect ratio as YouTube does for thumbnails to minimize letterboxing.
    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
      width: 100%;
    }

    .icon {
      height: 3.625rem;
      place-self: center;
      width: 3.625rem;
    }
  }

  &__thumbnail,
  &__play-icon {
    position: absolute;
  }

  &__thumbnail {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
  }

  &__play-icon {
    background-color: var(--primary-blue);
    border-radius: 50%;
  }

  &__caption {
    margin-top: 1.5rem;
    text-align: center;

    @include mq(914px) {
      text-align: start;
    }
  }
}
