// Styles for the main sections
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  --header-height: 4rem;
  --header-spacing: 0rem;
  --header-offset: calc(var(--header-height) + var(--header-spacing));
  display: flex;
  flex-direction: column;

  @each $code, $size in $bkpt-lang-headers {
    @media (min-width: $size) {
      [lang='#{$code}'] & {
        --inline-header: 1;
      }
    }
  }
}

.main {
  flex: 1 0 auto;
  height: max-content;

  margin-top: var(--header-offset);
}
