// Style for messages.

.message {
  --message-icon: url('/images/icons/sprite.svg#info-sign');
  background-color: var(--blue-25);
  border: 1px solid var(--blue-600);
  border-radius: 0.25rem;
  padding: 1.5rem 1.5rem 1.5rem 3.5rem;
  position: relative;

  &::before {
    content: '';
    background-color: var(--grey-700);
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: 1.5rem;

    -webkit-mask-image: var(--message-icon);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-image: var(--message-icon);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100%;
  }

  &--note {
    --message-icon: url('/images/icons/sprite.svg#note-sign');
    background-color: var(--yellow-50);
    border-color: var(--yellow-600);
  }

  &--warning {
    --message-icon: url('/images/icons/sprite.svg#warning-sign');
    background-color: var(--red-50);
    border-color: var(--red-600);
  }

  &--tip {
    --message-icon: url('/images/icons/sprite.svg#tip-sign');
    background-color: var(--green-50);
    border-color: var(--green-600);
  }
}
