---
layout: _wrapper
pagination:
  data: site.l10n
  size: 1
  alias: l10n
permalink: '{{ l10n.locale.code | slug }}/'
title: Chrome OS
metadesc: Deliver rich, engaging Android, and Web apps for Chromebook with just a few changes to reach more devices, new audiences, and see real results.
hideNewsletter: true
---

{% from 'hero-animated.njk' import heroAnimated %} {% from 'card-stats.njk' import cardStats %} {% from 'image-card.njk' import imageCard %} {% from 'hero--cta.njk' import heroCta %} {% from 'item-grid.njk' import itemGrid %} {% from 'featured-content.njk' import featuredContent %} {% from 'call-out.njk' import callOut %} {% from 'footnotes.njk' import footnotes %} {% from 'stats.njk' import stats %} {% from 'fifty-fifty.njk' import fiftyFifty %} {% from 'community-quotes.njk' import communityQuotes %} {% from 'case-studies.njk' import caseStudies %} {% from 'banner-interstitial.njk' import bannerInterstitial %}
<div id="home" class="wrapper--hidden-x">
  <!-- Hero Animation -->
  <header id="home__hero" class="wrapper wrapper--full-bleed wrapper--bottom-bleed wrapper--no-bottom wrapper--no-top wrapper--padded wrapper__contained wrapper__background--blue">{{ heroAnimated(l10n.home.hero.heading, l10n.home.hero.copy, l10n.home.hero.cta, l10n.home.hero.media) }}</header>

  <!-- Routing Cards -->
  <div id="home__routing" class="wrapper wrapper--full-bleed wrapper--no-top wrapper--padding wrapper--padded wrapper__contained wrapper__background--color-stop">{{ itemGrid('', l10n.home.routing.items, l10n.home.routing.modifiers, l10n.locale.code) }}</div>

  <!-- Linux -->
  <section id="home__linux" class="wrapper wrapper--padded wrapper--padding">{{ fiftyFifty(l10n.home.linux.content, l10n.home.linux.cta, l10n.home.linux.images, l10n.locale.code) }}</section>

  <!-- Chrome OS Stats -->
  <div id="home__stats" class="wrapper wrapper--padded wrapper--padding">{{ stats(l10n.home.stats.items, l10n.home.stats.modifiers) }}</div>

  {% if landingCollections.featured.home.length > 0 %}
  <div id="home__case-studies" class="wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__background wrapper__contained">{{ caseStudies(l10n.home.caseStudies, landingCollections.featured.home, l10n.locale.code) }}</div>
  {% endif %}

  <!-- M100 Banner -->
  <div id="home__banner" class="wrapper wrapper__contained">{{ bannerInterstitial(landingCollections.featured.post, l10n.microcopy) }}</div>

  <!-- Recent Articles -->
  {% if landingCollections.posts.length > 0 %}
  <div id="home__articles" class="wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__background wrapper__contained">{{ itemGrid(l10n.home.posts.title, landingCollections.homePosts, l10n.home.posts.modifiers, l10n.locale.code) }}</div>
  {% endif %}

  <!-- Ent and EDU -->
  <div id="home__ent-edu" class="wrapper wrapper--full-bleed wrapper--padding wrapper--padded wrapper__contained wrapper__background">{{ itemGrid(l10n.home.business.title, l10n.home.business.items, l10n.home.business.modifiers, l10n.locale.code) }}</div>

  <!-- Developers -->
  <div id="home__developers" class="wrapper wrapper--padding wrapper--padded">{{ communityQuotes(l10n.home.developers.content, l10n.home.developers.quotes) }}</div>

  <!-- Community -->
  <div id="home__community" class="wrapper wrapper--padding wrapper--padded">{{ itemGrid(l10n.home.community.title, l10n.community, l10n.home.community.modifiers) }}</div>

  <!-- Chromebooks -->
  <div id="home__chromebooks" class="wrapper wrapper--no-top wrapper--padded">{{ heroCta(l10n.home.chromebook.content, l10n.home.chromebook.image, l10n.home.chromebook.cta) }}</div>

  <!-- Site Subnav -->
  <div id="home__subnav" class="wrapper wrapper--full-bleed wrapper--padding wrapper--padded wrapper__background wrapper__contained">{{ itemGrid(l10n.home.subnav.content.title, l10n.nav, l10n.home.subnav.modifiers, l10n.locale.code) }}</div>

  <!-- Videos -->
  <div class="wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__contained wrapper__background">{{ itemGrid(l10n.home.videos.title, l10n.home.videos.items, l10n.home.videos.modifiers) }}</div>

  <!-- Subscribe -->
  <div class="wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__background--dark">{{ callOut(l10n.newsletter.subscribe.content, l10n.newsletter.subscribe.cta) }}</div>

  <!-- Footnotes -->
  <footer class="wrapper wrapper--full-bleed wrapper__background wrapper__background--light wrapper--no-bottom wrapper--no-top wrapper--padded wrapper__contained">{{ footnotes(l10n.home.footnotes.notes) }}</footer>
</div>
