---
layout: _wrapper
pagination:
  data: site.l10n
  size: 1
  alias: l10n
permalink: '{{ l10n.locale.code | slug }}/style-guide/index.html'
---

<div class="style-guide">
  <header class="style-guide__header">
    <h1 class="type--h1">{{l10n.microcopy.styleGuide.title}}</h1>
  </header>
  <article class="style-guide__content">
    <ul class="type--large">
      <li>
        <a href="{{page.url}}content" class="type--link">{{l10n.microcopy.styleGuide.content}}</a>
      </li>
      <li>
        <a href="{{page.url}}components" class="type--link">{{l10n.microcopy.styleGuide.components}}</a>
      </li>
      <li>
        <a href="{{page.url}}typography" class="type--link">{{l10n.microcopy.styleGuide.typography}}</a>
      </li>
      <li>
        <a href="{{page.url}}shapes" class="type--link">{{l10n.microcopy.styleGuide.shapes}}</a>
      </li>
    </ul>
  </article>
</div>
