// Styles for blockquote and attribution paragraph.

// sass-lint:disable no-universal-selectors
%blockquote {
  @extend %type--quote;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  position: relative;

  &::before {
    background-color: var(--blue-600);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0.25rem;
  }

  > * + * {
    margin-top: 1rem;
  }

  p {
    &:first-of-type::before {
      content: open-quote;
    }

    &:last-of-type::after {
      content: close-quote;
    }
  }

  footer {
    @extend %type--caption;
  }
}
