<!--{#
  Renders cookie disclaimer component.

  @param {string} localeCode - String of the currently languaje code selected.
  @param {string} title - Cookie title.
  @param {object} content - Object containing the following attributes.
  @param {string} content.disclaimer - Information message about the use of the cookies.
  @param {string} content.settings - Object containing the following attributes.
  @param {string} content.settings.url - Settings url.
  @param {string} content.settings.text - Text linked to the Google settings.
  @param {string} ctas - Object containing the following attributes.
  @param {string} ctas.accept - Text to display in the accept button.
  @param {string} ctas.info.text - Text to display in the information button.
  @param {string} ctas.info.url - Cta url.
 #}-->
{% macro cookieDisclaimer(localeCode, title, content, ctas) %}
<dialog class="cookie-disclaimer" aria-label="{{title}}" aria-describedby="cookieDisclaimer">
  {%- set settings -%}
  <a href="{{content.settings.url}}?hl={{localeCode}}">
    {{content.settings.text}}
  </a>
  {%- endset -%}
  <div class="cookie-disclaimer__wrapper">
    <p id="cookieDisclaimer" class="type--h5">
      {{content.disclaimer | replace('((t))', settings) | safe}}
    </p>
    <div class="cookie-disclaimer__buttons">
      <a href="{{ctas.info.url}}?hl={{localeCode}}" class="cta cta--medium">{{ctas.info.text}}</a>
      <button class="cta cta--high">{{ctas.accept}}</button>
    </div>
  </div>
</dialog>
{% endmacro %}
