<!--{#
  Renders the footnotes.

  @param {object[]} notes - List of string containing the information/explanation about the reference.
  @param {string} variant - String representing a variant. Possible value 'landing'.

 #}-->

{% macro footnotes(notes, variant) %}
<ol class="footnotes-list footnotes-list--grey-bkg {{'footnotes-list--landing' if variant == 'landing'}}">
  {% for note in notes %}
  <li id="fn{{loop.index}}" class="footnote-item">
    <p class="footnote-item__p"><span>{{note}}</span>&nbsp;<a class="footnote-backref" href="#fnref{{loop.index}}">↩︎</a></p>
  </li>
  {% endfor %}
</ol>
{% endmacro %}
