<!--{#
  Renders a Hero with copy and an image (bottom in mobile, rigth desktop).

  @param {object} content: Object containing the post's information
  @param {string} content.eyebrow: String representing the hero eyebrow.
  @param {string} content.title: String representing the page main title.
  @param {string} content.copy: String with some additional text for the hero.
  @param {object[]} content.images: Images to use
  @param {string} content.images.image: String representing image path.
  @param {string} content.images.alt: String representing the image alt.
  @param {object} content.cta: Object representing the CTA information.
  @param {string} content.cta.url: String representing the CTA url.
  @param {string} content.cta.text: String representing the CTA text.
 #}-->
{% macro hero(content) -%}
<article class="hero">
  <section class="hero__copy-wrapper">
    <small class="hero__eyebrow type--eyebrow">{{content.eyebrow}}</small>
    <h1 class="type--h1">{{content.title}}</h1>
    <p class="type--h3">{{content.desc}}</p>
    <a class="hero__link cta cta--high" href="{{content.cta.url}}">{{content.cta.text}}</a>
  </section>
  {% for image in content.images %}
  <img class="hero__image" src="{{image.image}}" alt="{{image.alt}}" />
  {% endfor %}
</article>
{%- endmacro %}
