<!--{#
  Renders an icon card with a CTA.
  Arguments:
    data: List of objects containing the following attributes.
      - title: Card title.
      - image: Path to icon image (could be internal or external).
      - alt: String representing the image alt.
      - cta: Information about cta.
        - url: Cta link.
        - text: Cta text.
    defaultText: Default text used (required)
 #}-->
{% macro iconCard(data, defaultText) -%}
<article class="icon-card">
  <img class="icon-card__image" src="{{data.image}}" class="icon-card__icon" alt="{{data.alt}}" />
  <div class="icon-card__copy">
    <p class="icon-card__title type--h5">{{data.title}}</p>
    <a href="{{data.cta.url}}" class="cta cta--link">{{data.cta.text if data.cta.text else defaultText}}</a>
  </div>
</article>
{%- endmacro %}
