<!--{#
  Main navigation component

  Arguments:
    items: Navigation item
    locale: Locale information
#}-->
{% from 'icon.html' import icon %} {% macro nav(items, locale) %}
<nav class="nav">
  <div class="nav__header">
    <button class="nav__close" aria-label="close">{{icon('close')}}</button>
    <a href="/{{locale.code}}" class="nav__home">{% include 'logo.html' %}</a>
  </div>
  <ul class="nav__primary">
    {% for item in items %}
    <li class="nav__primary-item">
      {% if item.sections %}
      <button class="nav__link type--primary-nav" aria-expanded="false" aria-haspopup="true" id="nav--{{item.title | slug}}" aria-controls="nav--{{item.title | slug}}-menu">{{item.title}}</button>
      <ul id="nav--{{item.title | slug}}-menu" class="nav__secondary" hidden aria-labelledby="nav--{{item.title | slug}}">
        {% for section in item.sections %}
        <li class="nav__secondary-item">
          {% if section.alt %}
          <a class="nav__link type--primary-nav" href="/{{locale.code}}/{{section.url}}" data-alt="/{{locale.code}}/{{section.alt}}">{{section.title}}</a>
          {% else %}
          <a class="nav__link type--primary-nav" href="/{{locale.code}}/{{section.url}}">{{section.title}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% elif item.alt %}
      <a class="nav__link type--primary-nav" href="/{{locale.code}}/{{item.url}}" data-alt="/{{locale.code}}/{{item.alt}}">{{item.title}}</a>
      {% else %}
      <a class="nav__link type--primary-nav" href="/{{locale.code}}/{{item.url}}">{{item.title}}</a>
      {% endif %}
    </li>

    {% endfor %}
  </ul>
</nav>
{% endmacro %}
