<!--{#
  Creates a Table of Contents based on includec content

  @param {object[]} items - Array of items to include
  @oaram {string} items[].url - URL of the item being pointed to
  @param {string} items[].title - Title of the item being pointed to
  @param {string} title - Title of the list of items.
#}-->
{% macro resources(items, title) %}{% if items is defined %}
<aside class="resources">
  <h5 class="type--h5">{{title}}</h5>
  <ul class="resources__list">
    {% for item in items %}
    <li class="type--caption">
      <a class="type--link" href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}{% endmacro %}
