// Styles for the article footer.

.article-footer {
  border-top: 1px solid var(--grey-300);
  margin-bottom: pxRem(40px);
  padding-top: pxRem(40px);

  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
