// Styles for Back to top button
.back-to-top {
  $circle-size: pxRem(40px);
  @include elevation(1);
  align-items: center;
  background-color: var(--blue-600);
  border-radius: 50%;
  bottom: pxRem(16px);
  display: grid;
  height: $circle-size;
  justify-content: center;
  position: fixed;
  right: pxRem(16px);
  width: $circle-size;
  z-index: 10;

  &__icon {
    fill: var(--white);
    height: pxRem(24px);
    width: pxRem(24px);
  }
  // TODO: Breakpoint is to be defined
  // Issue to resolve: #85
  @include mq(900px) {
    display: none;
  }
}
