// Styles for card-stats component.
@use 'sass:math';

.card-stats {
  $content-max-width: pxRem(1440px);
  $max-width: 1024px;
  $scaler: math.div(math.div($max-width, 100), 1vw);
  $inline-spacing-s: 3.75rem;
  $inline-spacing-l: 5rem;
  $inline-spacing-m: math.div(($inline-spacing-l + $inline-spacing-s), 2);
  $inline-spacing-r: clamp($inline-spacing-s, (7.5 * math.div(16px, $scaler)), $inline-spacing-l);

  $bkpt: 656px;

  @include mq($bkpt) {
    display: grid;
    grid-template-rows: auto $inline-spacing-m auto;

    @supports (width: clamp(1px, 1vw, 2px)) {
      grid-template-rows: auto $inline-spacing-r auto;
    }
  }

  &__banner {
    height: 50vw;
    max-height: pxRem(480px);

    @include mq($bkpt) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__wrapper {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $content-max-width;
    padding-top: math.div($inline-spacing-m, 2);
    width: calc(100% - #{$inline-spacing-m} * 2);

    @supports (width: clamp(1px, 1vw, 2px)) {
      padding-top: calc(#{$inline-spacing-r} / 2);
      width: calc(100% - #{$inline-spacing-r} * 2);
    }

    @include mq($bkpt) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
      padding-left: $inline-spacing-m;
      padding-right: $inline-spacing-m;
      padding-top: $inline-spacing-m;

      @supports (width: clamp(1px, 1vw, 2px)) {
        padding-left: $inline-spacing-r;
        padding-right: $inline-spacing-r;
      }
    }
  }

  &__copy {
    flex: 1 1 40ch;
    margin-bottom: 2rem;

    // sass-lint:disable no-universal-selectors
    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    // sass-lint:enable no-universal-selectors
  }

  &__stats {
    align-items: center;
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 180px;

    @supports (width: clamp(1px, 1vw, 2px)) {
      $min: 120px;
      $max: 240px;
      $factor: math.div($max, 10.24px) * 1vw;
      min-width: clamp($min, $factor, $max);
    }
  }

  &__stat-value {
    @include statsCircle(120px, 180px, 240px);
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  &__stat-icon {
    fill: var(--white);
    height: 2.635rem;
    margin-right: 1rem;
    width: 2.635rem;

    @supports (height: clamp(2.25rem, 7vw, 3rem)) {
      height: clamp(2.25rem, 7vw, 3rem);
      margin-right: clamp(0.25rem, 1vw, 1rem);
      width: clamp(2.25rem, 7vw, 3rem);
    }
  }

  .type--h5 {
    max-width: pxRem(240px);
    text-align: center;
  }
}
