@use 'sass:math';

.search {
  padding: 0.75rem 1.25rem;
  width: 100%;
}

.search-results {
  $content-max-width: pxRem(1440px);
  $max-width: 1024px;
  $scaler: math.div(math.div($max-width, 100), 1vw);
  $inline-spacing-s: 3.75rem;
  $inline-spacing-l: 5rem;
  $inline-spacing-m: math.div(($inline-spacing-l + $inline-spacing-s), 2);
  $inline-spacing-r: clamp($inline-spacing-s, (7.5 * math.div(16px, $scaler)), $inline-spacing-l);
  $bkpt: 656px;

  display: grid;
  grid-template-rows: auto 3rem auto;
  width: 100%;

  &__summary,
  &__search-box,
  &__wrapper {
    margin: 0 auto;
    max-width: $content-max-width;
    padding-bottom: 1rem;
    width: calc(100% - #{$inline-spacing-m} * 2);
    @include mq($bkpt) {
      padding-left: $inline-spacing-m;
      padding-right: $inline-spacing-m;

      @supports (width: clamp(1px, 1vw, 2px)) {
        padding-left: $inline-spacing-r;
        padding-right: $inline-spacing-r;
      }
    }
  }

  &__summary {
    align-items: center;
    background-color: var(--grey-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    white-space: pre-wrap;
  }

  &__header {
    background-color: var(--grey-100);
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    min-height: 30vw;
    padding: 1rem 0 2rem;

    @include mq($bkpt) {
      grid-row: 1 / span 2;
      min-height: 15vh;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    margin-top: 1rem;

    @include mq($bkpt) {
      grid-row: 2 / span 2;
    }
  }

  &__query {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__docs {
    width: 100%;
  }

  &__loader {
    display: none;

    &-icon {
      animation: form__spinner 1s linear infinite;
      fill: var(--grey-700);
      height: pxRem(48px);
      width: pxRem(48px);
    }

    &-active {
      display: block;
    }
  }

  &__offline {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    &-warning {
      margin-top: 0.5rem;
    }
  }

  @keyframes search__spinner {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }

    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
}
