// Styles for topics.

.topics {
  display: inline-block;

  &__label {
    display: inline;
    margin-right: 0.5rem;

    @supports (margin-right: clamp(0.5rem, 1vw, 0.75rem)) {
      margin-right: clamp(0.5rem, 1vw, 0.75rem);
    }
  }

  &__list {
    display: inline;
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: pxRem(4px);
    }
  }
}
