<!DOCTYPE html>
<html lang="{{ locale.code }}" dir="{{ locale.dir }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% if title %}{{ title }} | {% endif %}{{ microcopy.title }}</title>
    <meta name="Description" content="{{ metadesc }}" />
    <meta name="theme-color" content="#1a73e8" />
    <link rel="icon" type="image/png" href="ix://icons/favicon.png" />
    <link rel="apple-touch-icon" href="/images/icons/pwa/icon-192x192.png" />

    {% for prop in og %}
    <meta property="og:{{prop.property}}" content="{{prop.content}}" />
    {% endfor %} {% for lang in site.languages %}{%if lang !== locale.code %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{page.url | localeURL(lang)}}" />
    {% endif %}{% endfor %}

    <link rel="preconnect" href="https://www.gstatic.com" crossorigin="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Google+Sans+Text:400,400i,500,700,700i|Google+Sans+Mono:400,600&display=swap" />
    <link rel="stylesheet" href="/sass/style.scss" />
    <script type="module" defer src="/js/main.js"></script>
  </head>
  <body id="body">
    {% from 'header.njk' import header %} {{ header(nav, search.placeholder, subscribe.cta, locale) }}
    <main class="main">
      {{ content | safe }} {% if showNewsletter and subscribe %}
      <div class="wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__background--dark">{% from "call-out.njk" import callOut %} {{ callOut(subscribe.content, subscribe.cta) }}</div>
      {% endif %}
    </main>
    {% from 'footer.njk' import footer %}{{ footer(locale.code, site.languages, footerContent, true) }} {% from 'cookie-disclaimer.njk' import cookieDisclaimer %}{{ cookieDisclaimer(locale.code, cookies.title, cookies.content, cookies.ctas) }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-168234575-1');
    </script>
  </body>
</html>
