---
layout: _wrapper
---

{% from 'skip-link.njk' import skipLink %} {% from 'article-footer.njk' import articleFooter %} {% from 'authors-list.njk' import authorsList %} {% from 'back-to-top.njk' import backToTop %} {% from 'item-grid.njk' import itemGrid %} {% from 'date-time.njk' import dateTime %} {% from 'toc.njk' import toc as tableOfContents %} {% from 'hero-article.njk' import heroArticle %}

<article class="article">
  <div class="article__hero">{{skipLink(microcopy.skip.content, 'article')}} {{ heroArticle(section, locale, parent, microcopy, tags[1], title, app) }}</div>
  {% if section == 'case-studies' %}
  <div class="wrapper--padded wrapper--full-bleed article__hero-image-wrapper">
    <img class="article__hero-image" src="{{hero.image}}" alt="{{hero.alt}}" />
  </div>
  {% endif %} {% if content | toc or authors %}
  <aside class="wrapper--padded article__toc">
    {% if section == 'posts' %}
    <section class="article__section">{{ authorsList(microcopy.posted, authors, contributors, microcopy) }}</section>
    <section class="article__section">{{ dateTime(microcopy.datePosted, page.date, locale.code, options={ year: 'numeric', month: 'long', day: 'numeric' }) }}</section>
    {% endif %} {{ tableOfContents(content, microcopy.toc.title, {title: microcopy.skip.toc, id: 'article'}) }}
  </aside>
  {% endif %} {% set topics = { label: microcopy.topics, items: tags } %}{% if section == 'case-studies' %}{% set updated = { label: microcopy.lastUpdated, date: page.date, locale: locale.code } %} {% endif %}
  <section class="wrapper--padded article__body" id="article">
    <div class="article__content type">{{ content | safe }}</div>
    {{ articleFooter(locale.code,topics, updated, modifiers={custom:'article__content'}) }}
  </section>
</article>
<section class="article__recommended wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__contained wrapper__background">{{itemGrid(microcopy.recommended, title | related(locale.code, page.url))}}</section>
{{ backToTop() }}
