---
layout: _wrapper
---

{% from 'skip-link.njk' import skipLink %} {% from 'back-to-top.njk' import backToTop %} {% from 'toc.njk' import toc as tableOfContents %} {% from 'tools.njk' import tools as toolsMacro %} {% from 'subnav.njk' import subnav %} {% from 'resources.njk' import resources as resourcesMacro %} {% from 'item-grid.njk' import itemGrid %} {% set class="tech-detail" %} {% if landingPage %} {% set class = "tech-detail tech-detail--landing" %} {% endif %}

<article class="{{class}} {{section}}">
  {% set related = collections[section + '--' + locale.code] %}
  <aside class="tech-detail__topics-and-resources">{{skipLink(microcopy.skip.content, 'content')}} {{ subnav(related, eyebrow, page.url, resources, microcopy.resources.title)}}</aside>
  {% if landingPage %}
  <div class="tech-detail__hero">
    <h1 class="tech-detail__hero-title type--mega">{{title}}</h1>
    {%- if hero -%}
    <div class="tech-detail__hero-image">
      <img class="tech-detail__hero-image--background-pattern" src="{{hero.image}}" alt="" aria-hidden="true" />
    </div>
    {%- endif -%}
  </div>
  {% endif %} {% if landingPage == false %}
  <header class="tech-detail__header" id="content">
    {% if eyebrow %}
    <small class="type--eyebrow">{{eyebrow}}</small>
    {% endif %}
    <h1 class="type--h2">{{title}}</h1>
  </header>
  {% endif %} {% if (content | toc or tools) and landingPage == false %}
  <aside class="tech-detail__versions-and-toc">{{toolsMacro(tools, microcopy.tools)}} {{tableOfContents(content, microcopy.toc.title, {title: microcopy.skip.toc, id: 'article'})}}</aside>
  {% endif %}

  <section class="tech-detail__content {% if landingPage %}tech-detail__content--landing{% endif %}" id="article">
    <div class="type">{{ content | safe }}</div>
    {% if landingPage and landingPage.subnav %}
    <div class="tech-detail__chapters">{{itemGrid(microcopy.landing.chapters, landingPage.subnav.slice(1))}}</div>
    {% endif %}
  </section>
</article>
{% if landingPage == false %}
<aside class="tech-detail__recommended wrapper wrapper--padding wrapper--padded wrapper--full-bleed wrapper__contained wrapper__background">{{itemGrid(microcopy.recommended, title | related(locale.code, page.url))}}</aside>
{% endif %} {{ backToTop() }}
