.style-guide {
  $bkpt: 825px;
  display: grid;
  grid-gap: 2rem;
  padding: 1.5rem;

  @include mq($bkpt) {
    grid-template-columns: 1fr minmax(20ch, 300px) minmax(50ch, 80ch) 1fr;
    padding: 2.5rem 0;

    &__header {
      grid-column: 3 / span 1;
      grid-row: 1;
    }

    &__content {
      grid-column: 3 / span 1;
      grid-row: 2;
    }

    &__items {
      grid-column: 2 / span 1;
      grid-row: 2;
    }

    &__examples {
      grid-column: 1 / -1;
      grid-row: 3;
      padding: 0 2rem;
    }
  }

  &__examples {
    order: 2;
  }

  &__section {
    border-top: 1px solid var(--grey-300);
    margin-top: 2rem;
    padding-top: 2rem;

    .type {
      margin-top: 1rem;
    }
  }

  &__separate-items > :not(:first-of-type) {
    margin-top: 1rem;
  }

  &__eyebrow {
    color: var(--blue-700);
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
  }

  &__description {
    margin: 2rem 0;
  }

  &__params {
    @extend %type--list;
    list-style: none;
    margin-left: 0;
  }

  &__list-item {
    padding-bottom: 1rem;
    text-transform: none;

    &:not(:first-of-type) {
      border-top: 1px solid var(--grey-300);
      margin-top: 2rem;
      padding-top: 2rem;
    }
  }
}
