// Styles of form errors.

.form {
  &__helper,
  &__error {
    margin: 0.3125rem 1rem;
  }

  &__helper {
    display: block;
  }

  &__error {
    display: none;

    &:not(.message) {
      color: var(--red-600);
    }

    &.message {
      display: none;
      margin-bottom: pxRem(40px);
    }

    &--server,
    &--offline {
      grid-column: 1;
      margin: 0;
    }

    &--show.message {
      display: block;
    }
  }
}
