<!--{#
  Creates a table
  Arguments:
    {string[]} headers: Table headers
    {string[]} data: Data
#}-->
{% macro table(headers, data) %}
<table>
  <thead>
    {% for header in headers %}
    <th>{{header}}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      {% for column in item %}
      <td>{{column | safe}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
