---
title: Link styling
metadesc: Link styling
typography: true
intro: |-
  There are multiple different kinds of links used throughout the site. The most common, inline text link, inherit their font family. Others, like navigation links, have their font family built-in. In all cases, links should be marked up with an `a` element.
---

{% from 'icon.njk' import icon %}

<div class="type">{{ intro | safe }}</div>

<section class="style-guide__section">
  <div class="style-guide__separate-items">
    <p class="type--base">This is an <a class="type--link" href="#">Inline Link</a> with some other text surrounding it.</p>
    <p class="type--base">This is a link that points to an <a class="type--link" href="https://google.com">External URL like this one pointing to Gooogle</a>, and has an external link indicator.</p>
    <p class="type--base">
      This is a <a class="type--link" href="https://github.com"><code class="type--code">codeLink</code></a>
    </p>
  </div>
  <div class="type">
    <p>The three basic links, our inline link, and inline link that points to an external source, and an inline link attached to something with an alternative font, like inline code. This styling can be applied with the class <code>type--link</code>. Links with external indicators shouldn't widow their external indicator icon.</p>
  </div>
</section>

<section class="style-guide__section">
  <div class="style-guide__separate-items">
    <p>
      <a href="#" class="type--primary-nav">Primary Navigation</a>
    </p>
    <p>
      <a href="#" data-active="true" class="type--primary-nav">Active Primary Navigation</a>
    </p>
  </div>
  <div class="type">
    <p>Primary navigation links, used in the global header, come with their own font styling. They're set in Google Sans, with a weight of <code>500</code>, typeset at <code>16px</code>/<code>24px</code>, do not change color when visited, and when active (indicated by the presence of the <code>data-active</code> attribute, hovered, or focused, their color changes. This styling can be applied with the class <code>type--primary-nav</code>. Because they are primarily used in clearly demarked navigation sections, they do not require underlines to be considered accessible and as such don't include them.</p>
  </div>
</section>

<section class="style-guide__section">
  <div class="style-guide__separate-items">
    <p>
      <a href="#" class="type--secondary-nav">Secondary Nav</a>
    </p>
    <p>
      <a href="#" data-active="true" class="type--secondary-nav">Active Secondary Nav</a>
    </p>
  </div>
  <div class="type">
    <p>Secondary links, in the side bar, come with their own font styling. They're set in Roboto, with a weight of <code>400</code>, typeset at <code>14px</code>/<code>18px</code>, do not change color when visited, and when active (indicated by the presence of the <code>data-active</code> attribute, hovered, or focused, a weight of <code>500</code> is faked using <code>text-shadow</code>. This styling can be applied with the class <code>type--secondary-nav</code>. Because they are primarily used in clearly demarked navigation sections, they do not require underlines to be considered accessible and as such don't include them.</p>
  </div>
</section>

<section class="style-guide__section">
  <div class="style-guide__separate-items">
    <p>
      <a href="#" class="type--tertiary-nav">Tertiary Nav</a>
    </p>
  </div>
  <div class="type">
    <p>Tertiary links, in the footer, come with their own font styling. They're set in Google Sans, with a weight of <code>500</code>, typeset at <code>16px</code>/<code>24px</code>, do not change color when visited, and hovered or focused, gain an underlinie. This styling can be applied with the class <code>type--tertiary-nav</code>. Because they are primarily used in clearly demarked navigation sections, they do not require underlines to be considered accessible and as such don't include them.</p>
  </div>
</section>

<section class="style-guide__section">
  <div class="style-guide__separate-items">
    <p>
      <a href="#" class="type--page-nav">Page-level Navigation</a>
    </p>
    <p>
      <a href="#" data-active="true" class="type--page-nav">Active Page-level Navigation</a>
    </p>
  </div>
  <div class="type">
    <p>Page-level navigation links, mostly used in the Table of Contents jump links, come with their own font styling. They're set in Roboto, with a weight of <code>400</code>, typeset at <code>14px</code>/<code>18px</code>, do not change color when visited, and when active (indicated by the presence of the <code>data-active</code> attribute, a weight of <code>500</code> is faked using <code>text-shadow</code>. This styling can be applied with the class <code>type--page-nav</code>.</p>
  </div>
</section>
