---
layout: _wrapper
pagination:
  data: site.l10n
  size: 1
  alias: l10n
permalink: '{{ l10n.locale.code | slug }}/news/index.html'
title: News
metadesc: Get the latest news, stories, resource articles, and case studies for Chrome OS.
---

{% from 'item-grid.njk' import itemGrid %}{% from 'hero.njk' import hero %}{% from 'featured-content.njk' import featuredContent %}

<div class="wrapper--hidden-x">
  <!-- Featured Post -->
  {% if landingCollections.featured.post %}
  <div class="wrapper--full-bleed">{{ hero(landingCollections.featured.post) }}</div>
  {% endif %}

  <!-- Posts -->
  {% if landingCollections.filteredPosts.length > 0 %}
  <div class="wrapper wrapper--full-bleed wrapper--padding wrapper--padded wrapper__background wrapper__contained">{{ itemGrid(l10n.news.posts.title, landingCollections.filteredPosts , l10n.news.posts.modifiers) }}</div>
  {% endif %}
</div>
