---
layout: _wrapper
pagination:
  data: site.l10n
  size: 1
  alias: l10n
permalink: '{{ l10n.locale.code | slug }}/search/index.html'
renderData:
  locale:
    code: '{{l10n.locale.code}}'
    dir: '{{l10n.locale.dir}}'
  metadesc: '{{l10n.search.description}}'
  title: '{{l10n.search.title}}'
---

{% from 'icon.njk' import icon %} {% from 'switch.njk' import switch %} {% from 'search-box.njk' import searchBox %}
<div class="wrapper--hidden-x">
  <article class="search-results wrapper wrapper--full-bleed wrapper--no-bottom wrapper--no-top">
    <section class="search-results__header">
      <section class="search-results__summary">
        <div class="search-results__loader">{{ icon('loader', 'search-results__loader-icon') }}</div>
      </section>
      <section class="search-results__search-box">
        {{searchBox(l10n.search.placeholder, locale.code, {background: 'search-box__white',extended:'search-box-extended', close:'search-box__close-hidden' })}}
        <div class="search-results__offline">
          {{ switch(l10n.search.offline.enable)}}
          <p class="search-results__offline-warning type--small">{{l10n.search.offline.warning}}</p>
        </div>
      </section>
    </section>
    <div class="search-results__wrapper">
      <section class="search-results__docs"></section>
      <section class="pagination__wrapper search-results__wrapper"></section>
    </div>
  </article>
</div>
