---
layout: _discover
permalink: '/discover/'
---

{% macro card(article) %}
<a class="dcard" href="/discover/{{article.title | slugify}}">
  <article>
    <img src="{{article.bannerImageUrl | deunicode}}" alt="" />
    <div class="dcard--inner">
      <h2 class="type--h3 dcard--title medium">{{article.title}}</h2>
      <p>{{article.description}}</p>
      <ul class="dtags">
        {% for tag in article.tags %}
        <li class="medium">{{tag}}</li>
        {% endfor %}
      </ul>
    </div>
  </article>
</a>
{% endmacro %}

<div class="_discover-home">
  <header class="_dheader">
    <div class="_dheader--inner">
      <div class="_dheader--text">
        <h1 class="type--h1">Optimized for your Chromebook</h1>
        <p>Experience these apps and games on your Chromebook's larger screen—they'll also work well with your keyboard and mouse.</p>
      </div>

      <img class="_dheader--bkg _dheader--img" src="ix://discover/home/background2.svg" aria-hidden="true" alt="" />
      <img class="_dheader--shapes _dheader--img" src="ix://discover/home/shapes.svg" aria-hidden="true" alt="" />
    </div>
  </header>
  <section class="_discover-home--section">
    <h2 class="type--h2 _discover-home--section-title">Apps</h2>
    <ul class="_discover-home--grid">
      {% for article in discovery %} {% if article.isGameArticle != true %}
      <li>{{card(article)}}</li>
      {% endif %} {% endfor %}
    </ul>
  </section>
  <section class="_discover-home--section">
    <h2 class="type--h2 _discover-home--section-title">Games</h2>
    <ul class="_discover-home--grid">
      {% for article in discovery %} {% if article.isGameArticle == true %}
      <li>{{card(article)}}</li>
      {% endif %} {% endfor %}
    </ul>
  </section>
</div>
