public
functions/indexes
.nyc_output
.github
.backstop
site/public/js/indexes
site/public/js/_data
site/js/_data
pnpm-lock.yaml
dist
.astro
.firebase/
.eslintignore
.firebaserc
.gitignore
public/pagefind
src/js/generated