name: Test, Build, Deploy - CMS

on:
  push:
    paths:
      - cms/**
      - .github/workflows/tbd-cms.yml
  pull_request:
    paths:
      - cms/**
      - .github/workflows/tbd-cms.yml
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: cms/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: cms
        run: pnpm install
      - name: Test and Build
        working-directory: cms
        run: pnpm t
        env:
          SANITY_STUDIO_PROJECT: ${{ secrets.SANITY_PROJECT_ID }}
          SANITY_STUDIO_PROD_DATASET: ${{ secrets.SANITY_DATASET }}
          SANITY_STUDIO_DEV_DATASET: ${{ secrets.SANITY_DEV_DATASET }}
      - name: Upload CMS build
        # Siwtch to refs/heads/main when merged
        if: github.ref == 'refs/heads/refactor/the-great-cms-migration'
        uses: actions/upload-artifact@v4
        with:
          name: cms
          path: ./cms/dist
  
  #########################
  ## Deploy site to Sanity
  #########################
  deploy:
    needs: test-build
     # Siwtch to refs/heads/main when merged
    if: github.ref == 'refs/heads/refactor/the-great-cms-migration'
    runs-on: ubuntu-latest
    concurrency:
      group: cms-deploy
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          cache-dependency-path: cms/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: cms
        run: pnpm install
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: cms
          path: ./cms/dist
      - name: Deploy
        working-directory: cms
        run: pnpm run deploy
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_TOKEN }}
